---
layout: next-default
---
<div class="projects" id="projects">

  <section class="landing-top">
    <div class="landing-top-bar"></div>
  </section>

  <div class="landing-container">
    <section class="landing-left">
      <div class="landing-left-top">
        <a href='/'>
          <img class="avatar" src="/assets/profile-pic.jpg" width="150" height="150" alt="avatar" />
        </a>
      </div>

      <div class="landing-left-bottom">
        <ul class="landing-nav-list">
          {% for link in site.navigation %}
            <li class="landing-nav-list-item">
              {% if link.text == "Codes" %}
                <strong>
                  <span class="landing-nav-list-link--disabled">{{ link.text }}</span>
                </strong>
              {% else %}
                <a class="landing-nav-list-link" href="{{ link.url }}">{{ link.text }}</a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <section class="landing-right">
      <section class="landing-top-banner">
        <header class="landing-header">
          <div class="landing-header-title">
            <span>
              <a class="site-title" href="{{ site.baseurl }}/">Jeremy Wong</a>
            </span>
          </div>
        </header>
      </section>

      <section class="landing-middle-banner">
        <div class="project-zika-demo">
          <h2>
            <a href="https://jermspeaks.github.io/webvr-demo/?polyfill=1" target="_blank">
              <span>Zika VR Demo</span>
            </a>
          </h2>
          <img src="/assets/images/webvr-demo.png" width="600" />
        </div>
      </section>
    </section>
  </div>
</div>
