---
import AboutLayout from "../../layouts/About.astro";
import HeaderLink from "../../components/HeaderLink.astro";
import NavigationLinks from "../../components/NavigationLinks.astro";
import ProseArticle from "../../components/ProseArticle.astro";
---

<AboutLayout
  title="About Me"
  description="Learn more about Jeremy"
  pubDate={new Date("November 25, 2015")}
  updatedDate={new Date("April 27 2022")}
  postType="About"
>
  <img
    width={420}
    height={420}
    src="/profile-pic.png"
    alt="My profile picture"
    slot="image"
    class="mt-8"
  />
  <NavigationLinks
    slot="navigation"
    navigationItems={[
      { link: "/about", text: "About Me" },
      { link: "/about/resume", text: "Resume" },
    ]}
  />
  <ProseArticle>
    <p>
      Instead of giving one “About Me” blurb, I’m going to give the “About Me”
      description for different instances. If you’re looking for where I am on
      the Internet, you can check out my <a
        href="https://about.me/jeremywong"
        target="_blank">“about.me” page</a
      >. If you’re looking for my resume, you can find that on my <a
        href="/resume">resume page</a
      >.
    </p>

    <h3>Twitter</h3>
    <p>
      Software Developer, Marathoner, Baker, Reader, Writer, and Attempted Maker
      of LED Doggie Jackets.
    </p>

    <h3>The Brief</h3>
    <p>
      Jeremy Wong is a former medical device engineer turned software developer.
      He is a Senior Lead Application developer at Clear Labs, a company
      developing a next-generation sequencing platform for food safety testing.
      Previously he’s worked at Reverb Technologies, Inform, FamiliesUSA, and
      Lumenous Device Technologies. His software projects span different
      domains, from neurogaming to data visualization to AR apps. Beyond his
      software projects, he publishes an email newsletter, plays music, bakes
      with little success, and helps take care of a homestead. He graduated from
      Dev Bootcamp in 2014 and has a B.S. in Biomedical Engineering from Cal
      Poly.
    </p>
    <!-- <p>
      Hello, my name is Jeremy. I am a Web Developer. My current role is at Clear
      Labs. Prior to that, for Inform, Reverb Technologies, Dev Bootcamp alum,
      Lumenous Device Technologies. I received my B.S. in Biomedical Engineering
      from Cal Poly, San Luis Obispo. I am currently living in California,
      primarily Silicon Valley.
    </p> -->
    <p>
      On my spare time, I’m a musician, a writer, a foodie, a amateur chef, and
      a world traveler.
    </p>
    <h3>LinkedIn</h3>
    <p>
      Start with a beginner’s mind. A beginner’s mind is open to new and radical
      ideas An expert’s mind rejects new ideas and sticks to what they know.
      When I quit my job as a medical device engineer and decided to become a
      web developer, I was afraid of what I was getting myself into But then I
      remembered this zen concept, “beginner’s mind”, and it reminded me that
      hacking and tinkering away at a programming language can be fun with
      infinite possibilities.
    </p>
    <p>
      Through breaking and creating things as a kid, I knew I had the maker
      spirit inside I decided to go through the Dev Bootcamp program and found
      myself making again; the coolest thing is to imagine something on Monday,
      and stare at its physical manifestation by Friday. That feeling along with
      the feelings of frustration, disappointment and sacrifice that comes along
      with the journey, is something I am falling in love with.
    </p>
    <p>
      But I haven’t done it alone. Being talented or an expert at something
      isn’t mutually exclusive to being a great co-worker. I’ve found out
      through teamwork and management that communication trumps talent. The
      ability to communicate and working well with others that matters more, and
      I have been working on it during the past few months while being team lead
      on my projects. I learned a kind person, different than a nice person, can
      tell others they are doing a great job or they need to work on something
      without sugar coating it.
    </p>

    <h3>Tech Stack</h3>
    <p>
      This website is built with <a href="https://astro.build/" target="_blank"
        >Astro</a
      >, <a href="https://tailwindcss.com/" target="_blank">Tailwind</a>, <a
        href="https://pages.github.com/"
        target="_blank">Github Pages</a
      >, and <a href="https://www.netlify.com/" target="_blank">Netlify</a>. The
      previous site was built using Jekyll, Sass, Bourbon, Neat, and Netlify.
    </p>
    <p>
      The domain is registered with <a
        href="https://www.hover.com/"
        target="_blank">Hover</a
      >.
    </p>

    <h3>Font</h3>
    <p>
      This website uses “Brother 1816”, a font by Ignacio Corbo and Fernando
      Díaz of <a href="http://tipotype.com/" target="_blank">TipoType</a>.
    </p>

    <h3>Continued Learning</h3>
    <p>
      I have another blog where I write about things I am learning about. <a
        href="http://jermspeaks.github.io/continued-learning/"
        target="_blank">Check it out</a
      >.
    </p>

    <h3>Contact Me</h2>
    <ul class="flex gap-8">
      <li>
        <HeaderLink href="https://twitter.com/jermspeaks" target="_blank">
          Twitter
        </HeaderLink>
      </li>
      <li>
        <HeaderLink href="https://github.com/jermspeaks" target="_blank">
          GitHub
        </HeaderLink>
      </li>
      <li>
        <HeaderLink href="mailto:jeremy@craftbyzen.com" target="_blank">
          Email
        </HeaderLink>
      </li>
      <li>
        <HeaderLink href="/rss.xml" target="_blank" title="RSS">RSS</HeaderLink>
      </li>
    </ul>
  </ProseArticle>
</AboutLayout>
