---
import { getCollection } from "astro:content";
import aboutLinks from "../../utils/aboutLinks";
import AboutLayout from "../../layouts/About.astro";
import NavigationLinks from "../../components/NavigationLinks.astro";
import NowContent from "../../components/NowContent.astro";
import ProseArticle from "../../components/ProseArticle.astro";

const nowItems = await getCollection("now");
---

<AboutLayout title="About Me" description="">
  <NavigationLinks
    slot="navigation"
    items={aboutLinks}
  />
  <ProseArticle class="prose-h2:my-0">
    <p>
      Things that I am thinking about now. Sporatic updates about life, things
      I'm thinking about and exploring.
    </p>
    {nowItems.map((resume) => <NowContent {...resume} />)}
  </ProseArticle>
</AboutLayout>
