---
import aboutLinks from "../../utils/aboutLinks";
import AboutLayout from "../../layouts/About.astro";
import NavigationLinks from "../../components/NavigationLinks.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import ProseArticle from "../../components/ProseArticle.astro";
---

<AboutLayout title="Press" description="">
  <NavigationLinks slot="navigation" items={aboutLinks} />
  <ProseArticle>
    <h2 class="my-8">Talks</h2>
    <section>
      <ul>
        <li>
          <div class="flex flex-col md:flex-row">
            <FormattedDate
              class="italic pe-4 shrink-0 grow-0 md:basis-[150px]"
              date={new Date("2019-01-15")}
            />
            <div>
              Hackbright: "System Design and Scalability" <a
                href="https://docs.google.com/presentation/d/1_RHXq_Eq8YU3nl51TcWvsWhYkGHDS9WORWaOmLWygS0/edit#slide=id.p"
                >Presentation</a
              >
            </div>
          </div>
        </li>
        <li>
          <div class="flex flex-col md:flex-row">
            <FormattedDate
              class="italic pe-4 shrink-0 grow-0 md:basis-[150px]"
              date={new Date("2017-12-12")}
            />
            <div>
              Hackbright: "React 2.0 Workshop". <a
                href="https://docs.google.com/presentation/d/1HkLNSlvYIOQUarNPUjV8vmerjVCSj9M2uFknI71Wkfw/edit?usp=sharing"
                >Presetation</a
              >, <a href="https://github.com/jermspeaks/hackbright-react-2"
                >Repo</a
              >
            </div>
          </div>
        </li>
        <li>
          <div class="flex flex-col md:flex-row">
            <FormattedDate
              class="italic pe-4 shrink-0 grow-0 md:basis-[150px]"
              date={new Date("2017-11-02")}
            />
            <div>DevBootcamp: "Hands-on React Lunch and Learn".</div>
          </div>
        </li>
        <li>
          <div class="flex flex-col md:flex-row">
            <time
              datetime={new Date("2015-11-24").toISOString()}
              class="italic pe-4 shrink-0 grow-0 md:basis-[150px]"
            >
              {
                new Date("2015-11-24").toLocaleDateString("en-us", {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                })
              }
            </time>
            <div>
              Interview with <a
                href="https://www.yerrington.net/"
                target="_blank">David Yerrington</a
              >: <a
                href="https://www.liveedu.tv/dyerrington/lmDno-data-science-python-data-structures/73Eep-data-science-python-guest-jeremy/"
                target="_blank"
              >
                <span>Part 1</span>
              </a>, <a
                href="https://www.liveedu.tv/dyerrington/lmDno-data-science-python-data-structures/poqAP-data-science-python-guest-jeremy-2/"
                target="_blank"
              >
                <span>Part 2</span>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </section>
    <section>
      <h3>Code Club</h3>
      <div>
        <p>
          During the fall and winter of 2014, I ran an online code club with
          some of my bootcamp cohort mates.
        </p>
        <p>Here's a playlist of those sessions.</p>
      </div>
      <iframe
        class="aspect-video w-full my-2"
        src="https://www.youtube.com/embed/videoseries?list=PLyretLC2LTTr4CKC-i81Orsr1N-X57Pjr"
        allowfullscreen
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </section>
    <section>
      <h3>Papers</h3>
      <ul>
        <li>
          <div>
            <a href="https://pubmed.ncbi.nlm.nih.gov/25740935/">
              Drosophila Muller F elements maintain a distinct set of genomic
              properties over 40 million years of evolution
            </a>
          </div>
          <div>G3: Genes | Genomes | Genetics</div>
          <FormattedDate class="italic" date={new Date("Mar 4, 2015")} />
          <div class="italic">
            The Muller F element (4.2 Mb, ~80 protein-coding genes) is an
            unusual autosome of Drosophila melanogaster; it is mostly
            heterochromatic with a low recombination rate. To investigate how
            these properties impact the evolution of repeats and genes, we
            manually improved the sequence and annotated the genes on the D.
            erecta, D. mojavensis, and D. grimshawi F elements and euchromatic
            domains from the Muller D element.
          </div>
          <div>
            doi: 10.1534/g3.114.015966. PMID: 25740935; PMCID: PMC4426361.
          </div>
        </li>
      </ul>
    </section>
  </ProseArticle>
</AboutLayout>
