---
import { getCollection } from "astro:content";
import AboutLayout from "../../layouts/About.astro";
import aboutLinks from "../../utils/aboutLinks";
import NavigationLinks from "../../components/NavigationLinks.astro";
import ProseArticle from "../../components/ProseArticle.astro";
import ResumeContent from "../../components/ResumeContent.astro";

const resumeItems = (await getCollection("resume")).sort((a, b) => {
  if (a.data.order > b.data.order) {
    return 1;
  } else if (a.data.order < b.data.order) {
    return -1;
  } else {
    return 0;
  }
});
---

<AboutLayout
  title="Resume"
  description="Latest version of my resume"
  updatedDate={new Date("February 20, 2024")}
>
  <NavigationLinks slot="navigation" items={aboutLinks} />
  <ProseArticle>
    <h1><strong>Jeremy Wong</strong></h1>
    {resumeItems.slice(0, 6).map((resume) => <ResumeContent item={resume} />)}

    <div class="flex flex-col md:flex-row justify-between align-top my-2">
      {
        resumeItems
          .slice(6)
          .map((resume) => <ResumeContent headingLevel={3} item={resume} />)
      }
    </div>
  </ProseArticle>
</AboutLayout>
