---
import { getCollection } from "astro:content";
import Layout from "../../layouts/About.astro";
import NavigationLinks from "../../components/NavigationLinks.astro";
import ProseArticle from "../../components/ProseArticle.astro";
import ResumeContent from "../../components/ResumeContent.astro";

const resumeItems = (await getCollection("resume")).sort(
  (a, b) => a.order > b.order
);
---

<Layout
  title="Resume"
  description="Latest Resume"
  pubDate={new Date("November 25, 2015")}
  updatedDate={new Date("April 27 2022")}
  heroImage=""
  postType="resume"
>
  <NavigationLinks
    slot="navigation"
    navigationItems={[
      { link: "/about", text: "About Me" },
      { link: "/about/resume", text: "Resume" },
      { link: "/about/now", text: "Now" },
    ]}
  />
  <ProseArticle>
    <h1><strong>Jeremy Wong</strong></h1>
    {resumeItems.slice(0, 4).map((resume) => <ResumeContent {...resume} />)}

    <div class="flex flex-col md:flex-row justify-between align-top my-2">
      {
        resumeItems
          .slice(4)
          .map((resume) => <ResumeContent headingLevel={3} {...resume} />)
      }
    </div>
  </ProseArticle>
</Layout>
