---
import { getCollection } from "astro:content";
import aboutLinks from "../../utils/aboutLinks";
import AboutLayout from "../../layouts/About.astro";
import NavigationLinks from "../../components/NavigationLinks.astro";
import ProseArticle from "../../components/ProseArticle.astro";
import ResumeContent from "../../components/ResumeContent.astro";

const resumeItems = (await getCollection("resume")).sort(
  (a, b) => a.order > b.order
);
---

<AboutLayout
  title="About Me"
  description="Latest Resume"
  updatedDate={new Date("June 2, 2023")}
>
  <NavigationLinks slot="navigation" items={aboutLinks} />
  <ProseArticle>
    <h1><strong>Jeremy Wong</strong></h1>
    {resumeItems.slice(0, 5).map((resume) => <ResumeContent {...resume} />)}

    <div class="flex flex-col md:flex-row justify-between align-top my-2">
      {
        resumeItems
          .slice(5)
          .map((resume) => <ResumeContent headingLevel={3} {...resume} />)
      }
    </div>
  </ProseArticle>
</AboutLayout>
