---
layout: next-default
---
<div class="home" id="home">

  <section class="landing-top">
    <div class="landing-top-bar"></div>
  </section>

  <div class="landing-container">
    <section class="landing-left">
      <div class="landing-left-top">
        <a href='/'>
          <img class="avatar" src="/assets/profile-pic.jpg" width="150" height="150" alt="avatar" />
        </a>
      </div>

      <div class="landing-left-bottom">
        <ul class="landing-nav-list">
          {% for link in site.navigation %}
            <li class="landing-nav-list-item">
              {% if link.text == "Writing" %}
                <strong>
                  <span class="landing-nav-list-link--disabled">{{ link.text }}</span>
                </strong>
              {% else %}
                <a class="landing-nav-list-link" href="{{ link.url }}">{{ link.text }}</a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <section class="landing-right">
      <section class="landing-top-banner">
        <header class="landing-header">
          <div class="landing-header-title">
            <span>
              <a class="site-title" href="{{ site.baseurl }}/">Writing</a>
            </span>
          </div>
        </header>
      </section>

      <section class="landing-middle-banner">
        <div class="landing-middle-banner-header">
          <h2 class="landing-middle-banner-title">
            <a href="/letters">Newsletter</a>
          </h2>
          <!-- <a href="/letters/season-two">
            <img class="landing-middle-banner-image" src="/assets/images/admission_title.png" alt="Admission Failure Title Image" width="420">
          </a> -->
        </div>
      </section>

      <section class="landing-middle-banner">
        <div class="landing-middle-banner-header">
          <h2 class="landing-middle-banner-title">
            <a href="/blog">Blog</a>
          </h2>
          <!-- <a href="/letters/season-two">
            <img class="landing-middle-banner-image" src="/assets/images/admission_title.png" alt="Admission Failure Title Image" width="420">
          </a> -->
        </div>
      </section>

    </section>
  </div>
</div>
