---
import { getCollection } from "astro:content";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import BaseBody from "../../components/BaseBody.astro";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";

const logs = (await getCollection("log")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <BaseBody>
    <Header />
    <main>
      <h1 class="text-3xl mb-8 dark:text-white">Logs by Year</h1>
      <section class="prose lg:prose-xl dark:prose-invert">
        <article class="text-lg mt-6 dark:text-slate-300 font-serif">
          <p>
            These are logs of consumed media from the past few years. (Updates
            in Progress).
          </p>
          <p>I've been logging media consumption since 2010.</p>
        </article>
        <ul>
          {
            logs.map((log) => (
              <li>
                <a href={`/log/${log.slug}/`}>{log.data.title}</a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </BaseBody>
</html>
