---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("November 25, 2015")}
  updatedDate={new Date("April 27 2022")}
  heroImage="/profile-pic.jpg"
>
  <p>
    Instead of giving one “About Me” blurb, I’m going to give the “About Me”
    description for different instances. If you’re looking for where I am on the
    Internet, you can check out my <a href="https://about.me/jeremywong" target="_blank">“about.me” page</a>. If you’re looking for my
    resume, you can find that on my resume page.
  </p>

  <h3>Twitter</h3>
  <p>
    Software Developer, Marathoner, Baker, Reader, Writer, and Attempted Maker
    of LED Doggie Jackets.
  </p>

  <h3>The Brief</h3>
  <p>
    Jeremy Wong is a former medical device engineer turned software developer.
    He is a Senior Lead Application developer at Clear Labs, a company developing a next-generation
    sequencing platform for food safety testing. Previously he’s worked at
    Reverb Technologies, Inform, FamiliesUSA, and Lumenous Device Technologies.
    His software projects span different domains, from neurogaming to data
    visualization to AR apps. Beyond his software projects, he publishes an
    email newsletter, plays music, bakes with little success, and helps take
    care of a homestead. He graduated from Dev Bootcamp in 2014 and has a B.S.
    in Biomedical Engineering from Cal Poly.
  </p>
  <!-- <p>
    Hello, my name is Jeremy. I am a Web Developer. My current role is at Clear
    Labs. Prior to that, for Inform, Reverb Technologies, Dev Bootcamp alum,
    Lumenous Device Technologies. I received my B.S. in Biomedical Engineering
    from Cal Poly, San Luis Obispo. I am currently living in California,
    primarily Silicon Valley.
  </p> -->
  <p>
    On my spare time, I’m a musician, a writer, a foodie, a amateur chef, and a
    world traveler.
  </p>
  <h3>LinkedIn</h3>
  <p>
    Start with a beginner’s mind. A beginner’s mind is open to new and radical
    ideas An expert’s mind rejects new ideas and sticks to what they know. When
    I quit my job as a medical device engineer and decided to become a web
    developer, I was afraid of what I was getting myself into But then I
    remembered this zen concept, “beginner’s mind”, and it reminded me that
    hacking and tinkering away at a programming language can be fun with
    infinite possibilities.
  </p>
  <p>
    Through breaking and creating things as a kid, I knew I had the maker spirit
    inside I decided to go through the Dev Bootcamp program and found myself
    making again; the coolest thing is to imagine something on Monday, and stare
    at its physical manifestation by Friday. That feeling along with the
    feelings of frustration, disappointment and sacrifice that comes along with
    the journey, is something I am falling in love with.
  </p>
  <p>
    But I haven’t done it alone. Being talented or an expert at something isn’t
    mutually exclusive to being a great co-worker. I’ve found out through
    teamwork and management that communication trumps talent. The ability to
    communicate and working well with others that matters more, and I have been
    working on it during the past few months while being team lead on my
    projects. I learned a kind person, different than a nice person, can tell
    others they are doing a great job or they need to work on something without
    sugar coating it.
  </p>

  <h3>Font</h3>
  <p>The title font is “Festivo Lowercase”, a font by Ahmet Altun.</p>
  <p>
    Everything else is “Brother 1816”, a font by Ignacio Corbo and Fernando Díaz
    of TipoType.
  </p>

  <h3>Continued Learning</h3>
  <p>
    I have another blog where I write about things I am learning about. Check it
    out.
  </p>
</Layout>
