---
layout: landing
footer: Connect
---

<div class="home" id="home">

  <section class="landing-top">
    <div class="landing-top-bar"></div>
  </section>

  <div class="landing-container">
    {% include left-matter.html %}

    <section class="landing-right">
      <section class="landing-top-banner">
        <header class="landing-header">
          <div class="landing-header-title">
            <span>
              <!-- <a class="site-title" href="{{ site.baseurl }}/">Jeremy Wong</a> -->
              <span class="site-title">Jeremy Wong</span>
            </span>
          </div>
        </header>
      </section>

      <section class="landing-middle-banner">
        <div class="landing-middle-banner-header">
          <h2 class="landing-middle-banner-title">
            <a href="/letters/season-three">Newsletter: Series Three</a>
          </h2>
          <a href="/letters/season-three">
            <img class="landing-middle-banner-image" src="/assets/images/7_Degrees_Of_Strangers_Letterhead.png" alt="7 Degrees of Strangers Letterhead" width="420">
          </a>
        </div>

        <!-- <div class="landing-middle-posts">
          <h3>
            <span>Last Newsletter</span>
          </h3>
        </div> -->

        <div class="landing-middle-posts">
          <span>My interview series where I interview each person one degree of separation at a time.</span>
          <span>We talk along the theme of communication and connection. At the end of our conversation,</span>
          <span>I ask the interviewee to choose the next person to interview.</span>
          <span>I repeat this 7 times. We learn what it means to be connected and how to reach out to people we may not know.</span>
        </div>

        <div class="landing-middle-posts">
          <span>Credits to <a href="https://www.designdimension.com/evan-roer" target="_blank">Evan Roer</a> who illustrated the graphics.</span>
        </div>
      </section>

      <section class="landing-bottom-banner landing-newsletter">
        <form
          action="https://tinyletter.com/jeremywong"
          class="landing-newsletter-form"
          method="post"
          onsubmit="window.open('https://tinyletter.com/jeremywong', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"
          target="popupwindow"
        >
          <div class="landing-newsletter-desc">
            <span>
              <label for="tlemail">
                <span>Subscribe to my newsletter where I write longform essays</span>
                <span>that mainly focuses on lessons I've learned.</span>
              </label>
            </span>
          </div>
          <div class="landing-newsletter-fields">
            <div class="landing-newsletter-input">
              <input type="text" name="email" id="tlemail" placeholder="email address"/>
              <input type="hidden" value="1" name="embed"/>
            </div>
            <div class="landing-newsletter-subscribe">
              <input class="landing-newsletter-submit" type="hidden" value="Subscribe" />
              <button type="submit">Subscribe</button>
            </div>
          </div>
          <!-- <p>
            <a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a>
          </p> -->
        </form>
      </section>

      <section class="landing-middle-banner">
        <div class="landing-middle-banner-header">
          <h2 class="landing-middle-banner-title">
            <a href="/blog">Blog</a>
          </h2>
        </div>

        <div class="landing-middle-posts">
          <ul class="letter-list">
            <!-- // Emulates `limit:3 offset:0` -->
            {% for post in site.posts %}
              {% unless post.categories contains 'letters' or post.draft %}
                {% capture counttwo %}{{ counttwo | plus: '1' }}{% endcapture %}
                {% if counttwo == '1' or counttwo == '2' or counttwo == '3' %}

                <li>
                  <div class="letter-title">
                    <h4><a class="page-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
                  </div>
                  <div class="letter-publish-date">
                    <h6><span>Published&nbsp;{{ post.date | date: '%B %d, %Y' }}</span></h6>
                  </div>
                  <div class="letter-description">
                    <h5><span><em>{{ post.description }}</em></span></h5>
                  </div>
                </li>

                {% endif %}
              {% endunless %}
            {% endfor %}
        </ul>
        </div>
      </section>
    </section>
  </div>
</div>
