---
layout: next-default
---
<div class="home" id="home">

  <section class="landing-top">
    <div class="landing-top-bar"></div>
  </section>

  <div class="landing-container">
    {% include left-matter.html pageName="Writing" clickable=true %}

    <section class="landing-right">
      <section class="landing-top-banner">
        <header class="landing-header">
          <div class="landing-header-title">
            <span>
              <a class="site-title" href="{{ site.baseurl }}/">Newsletter: Season Three</a>
            </span>
          </div>
        </header>
      </section>

      <section class="landing-middle-banner">
        <div class="letters-middle-title season season-one">
          <img class="letters-letterhead" src="/assets/images/7_Degrees_Of_Strangers_Letterhead.png" alt="7 Degrees of Strangers Letterhead" width="400" />
        </div>
      </section>

      <section class="landing-middle-banner">
        <article class="letters-blurb">
          <div>
            <p>
              <span>Welcome to the third series of the Jear-Bear letters.</span>
              <span>For the new readers, this is my weekly newsletter.</span>
              <span>We're back with a new series called "Seven Degrees of Strangers".</span>
            </p>
            <p>
              <span>The title is a play on "Seven Degrees of Separation" where you are at most</span>
              <span>seven links away from knowing any random stranger on Earth. So if I met a</span>
              <span>stranger on the street, I could trace them to at most seven degrees of</span>
              <span>separation until I found a connection.</span>
            </p>
            <p>
              <span>If you like what you're reading, share this newsletter.</span>
              <span>You could go as far as sharing it on Facebook, Twitter, or going retro, snail mail!</span>
              <span>If you're feeling adventurous, subscribe them by entering their email on</span>
              <span><a href="http://tinyletter.com/jeremywong/">my Tinyletter page.</a></span>
            </p>
          </div>
        </article>
      </section>

      <section class="landing-middle-banner">
        <ul class="letter-list">
          {% for page in site.posts reversed %}
            {% if page.categories contains 'letters' and page.tags contains 'season_3' %}
              {% if page.title %}
              <li>
                <div class="letter-title">
                  <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                </div>
                <div class="letter-publish-date">
                  <span>Published</span>
                  <span>{{ page.date | date: '%B %d, %Y' }}</span>
                </div>
                <div class="letter-description">
                  <span><em>{{ page.description }}</em></span>
                </div>
              </li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </section>

      <section class="landing-middle-banner">
        <article class="letters-blurb">
          <!-- <div class="letters-blurb-image">
            <img src="/assets/images/bear-colored-regular.png" />
          </div> -->
          <div>
            <h2>Addendum</h2>

            <p>The project is a mix of two projects. The first is Megan Gilbert's blog, "52 
            Cups of Tea". In that blog, she interviews a person a week over tea or coffee 
            in preparation for getting prepared for finding a job in the real world 
            outside of college.</p>

            <p>The second is Kio Stark's newsletter and book talking to strangers. In the 
            series, Kio recounts stories she has with starngers in NYC. She keeps 
            reminding me I want to talk with random people and share worldviews.</p>

            <p>For the old readers, thanks for your patience. I know it's months between the 
            last newsletter, and I'm really happy to share the next few weeks with you. 
            And to the new readers, I hope you'll love what you're about to read.</p>
          </div>
        </article>
      </section>

      <section class="landing-middle-banner">
        <div>
          <a href="/letters/season-two">Last Season</a>
        </div>
        <!-- <div>
          <a href="/letters/season-four">Next Season</a>
        </div> -->
      </section>

    </section>
  </div>
</div>
