<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

<footer class="site-footer">

  <footer class="site-footer-left">
    <span>Made With ❤️</span>
  </footer>

  <footer class="site-footer-right">

    <div class="footer-col-wrapper">

      <!-- <div class="footer-heading">
        {% if page.footer %}
          <div class="footer-title">
            <span>{{ page.footer }}</span>
          </div>
        {% else %}
          <nav class="landing-nav">
            <ul class="nav-list">
              {% for link in site.navigation %}
                {% unless page.url == link.url %}
                  <li>
                    <a href="{{ link.url }}">{{ link.text }}</a>
                  </li>
                {% endunless %}
              {% endfor %}
            </ul>
          </nav>
        {% endif %}
      </div> -->

      <!-- <div class="footer-email">
        <a href="mailto:{{ site.email }}">
          <button>Send Email</button>
        </a>
      </div> -->


      <div class="footer-description">
        <span class="text">{{ site.description }}</span>
      </div>
    </div>

  </footer>


</footer>

<div class="bottom-page-padding"></div>
