<div class="footer-social-list">
  <ul class="social-media-list">
    <li>
      <a href="https://github.com/jermspeaks" target="_blank">
        <span>
          <i class="fa fa-github"></i>
        </span>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/jermspeaks" target="_blank">
        <span>
          <i class="fa fa-twitter"></i>
        </span>
      </a>
    </li>
    <li>
      <a href="mailto:{{ site.email }}" target="_blank">
        <span>
          <i class="fa fa-envelope"></i>
        </span>
      </a>
    </li>
    <li>
      <a href="/feed.xml">
        <span>
          <i class="fa fa-rss"></i>
        </span>
      </a>
    </li>
    <!-- <li>
      <a href="https://instagram.com/jermspeaks" target="_blank">
        <span>
          <i class="fa fa-2x fa-instagram"></i>
        </span>
      </a>
    </li> -->
    <!-- <li>
      <a href="http://jermspeaks-blog.tumblr.com" target="_blank">
        <span>
          <i class="fa fa-2x fa-tumblr"></i>
        </span>
      </a>
    </li>
    <li>
      <a href="https://medium.com/@jermspeaks" target="_blank">
        <span>
          <i class="fa fa-2x fa-medium"></i>
        </span>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/jeremynwong" target="_blank">
        <span>
          <i class="fa fa-2x fa-linkedin"></i>
        </span>
      </a>
    </li> -->
  </ul>
</div>
