// Components For Resume

@import "bourbon";
@import "assets/neat/neat";
@import "assets/neat/neat-helpers";
@import "assets/base/base";

@import "components/headers";
@import "components/fonts";
@import "components/buttons";
@import "components/paper-button";
@import "components/indicator";
@import "components/cards";
@import "components/checklist";
@import "components/tag-input";
@import "components/toggle-button";
@import "components/dropdown";
@import "components/tags";
@import "components/info";
@import "components/loader";


@import "resume-variables";

/* ============================================
  Floats
============================================ */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear-float {
  clear: both;
}


@mixin section-title() {
  border-bottom: 1px solid $gray-light-3;
  margin-bottom: 0.8em;
}
