.header,
.about-header {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.header-title {
  padding-right: 1em;
}

.cbz-header {
  background: #333 url("/assets/images/craft-by-zen-banner.jpg");
  background-size: cover;
}

.cbz-header-text {
  font-size: 48px;
  font-weight: 700;
  line-height: 300px;
  color: rgba(20, 20, 20, .85);
  background: rgba(255, 255, 255, 0.05);

  span {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.letter-header {
  background: #f4f3f9 url("/assets/images/bear-colored.png");
  background-size: cover;
  height: 300px;
}

.letter-header-text {
  font-size: 48px;
  font-weight: 700;
  line-height: 300px;
  color: rgba(20, 20, 20, .85);
  // background: rgba(255, 255, 255, 0.05);

  span {
    display: block;
    // margin-left: auto;
    // margin-right: auto;
    margin-right: 20px;
    text-align: right;
  }
}

.about-name {
  font-size: 36px;
}

.about-title {
  font-size: 48px;
  font-weight: bold;
}
