@import "./animations";

$color-base: #e5e2f0;
$color-white: #fff;
$color-base-tri-1: #f0e5e2;
$color-base-tri-2: #e2f0e5;
$width-landing-left: 200px;
$padding-landing-left-sides: ($width-landing-left - 150px) / 2;
$padding-landing-left-top: 20px;
$padding-landing-right-sides: 20px;
$padding-landing-right-top: $padding-landing-left-top * 1.5;

.landing-top-bar {
  width: 100%;
  height: 10px;
  position: fixed;
  top: 0;
  background: $color-base-tri-2;
}

.landing-container {
  display: flex;
  margin-top: 30px;

  @include media-query($on-palm) {
    flex-direction: column;
  }
}

.landing-left,
.landing-right {
  background: $color-white;
}

.landing-left {
  flex: 0 0 200px;
  padding-top: 20px;
  padding-left: $padding-landing-left-sides;
  padding-right: $padding-landing-left-sides;
  margin-left: 10px;
  margin-right: 10px;

  @include media-query($on-palm) {
    display: flex;
    justify-content: space-between;
  }

  .avatar {
    border-radius: 50%;
  }

  .avatar:hover {
    cursor: pointer;
    animation: avatarzomg 0.9s infinite;
  }
}

.landing-left-bottom {
  margin-top: 10px;
}

.landing-nav-list {
  display: flex;
  flex-direction: column;
  text-transform: lowercase;
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 0;
}

.landing-nav-list-item {
  text-align: center;
}

.landing-right {
  flex: 0 1 75%;
  padding-top: $padding-landing-right-top;
  padding-left: $padding-landing-right-sides;
  padding-right: $padding-landing-right-sides;

  @include media-query($on-palm) {
    flex: 0 0;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.landing-top-banner {
  margin-bottom: 10px;
}

.landing-middle-banner {
  margin-bottom: 10px;
}

.landing-middle-banner-title {
  padding-left: 10px;
  border-left: 4px solid $color-base-tri-1;
}

.landing-middle-banner-image {
  padding-left: 14px;

  &:hover {
    animation: avatarzomg 0.9s infinite;
  }
}

.landing-middle-banner-header {
  padding-bottom: 20px;
}

.landing-middle-posts {
  padding-left: 28px;

  .letter-title {
    padding-left: 10px;
    border-left: 4px solid $color-base-tri-2;
  }

  .letter-publish-date,
  .letter-description {
    padding-left: 14px;
  }
}

// .landing-nav,
// .landing-summary,
// .landing-newsletter {
//   margin-left: $spacing-unit;
//   margin-right: $spacing-unit;
// }

.landing-nav {
  ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    list-style-type: none;
  }

  @include media-query($on-palm) {
    ul {
      flex-direction: column;
    }
  }
}

.nav-list-link {
  text-transform: uppercase;
  font-size: 1.5em;
}

// .landing-content {
//   padding-top: 20px;
// }
//
// .landing-inline {
//   display: flex;
//   flex-wrap: nowrap;
//   margin-bottom: 10px;
//
//   .landing-paragraph {
//     margin-left: 20px;
//
//     @include media-query(1024px) {
//       margin-top: 20px;
//       margin-left: 0;
//     }
//   }
//
//   @include media-query(1024px) {
//     display: block;
//   }
// }

// .landing-summary-image {
//   flex: 0 0 auto;
//   width: 350px;
//   height: 150px;
// }
//
// .landing-paragraph {
//   flex: 1 1 auto;
//   padding-bottom: 20px;
//
//   &:last-child {
//     padding-bottom: 0;
//   }
// }

.landing-newsletter {
  margin-top: 20px;
  margin-bottom: 20px;
}

.landing-newsletter-form {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 5px solid #d6d2e7;
  border-bottom: 5px solid #d6d2e7;
  font-size: 14px;
  font-family: $secondary-font-family;

  @include media-query($on-palm) {
    flex-direction: column;
  }
}

.landing-newsletter-desc {
  // font-style: italic;
  font-size: 12px;
}

.landing-newsletter-fields {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;

  @include media-query($on-palm) {
    justify-content: space-between;
  }

  .landing-newsletter-submit {
    height: 24px;
  }
}

.landing-newsletter-input {
  margin-right: 10px;

  input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid #757575;
  }

  input:focus {
    outline: none;
  }

  @include media-query($on-palm) {
    margin-right: 0;
  }
}

$offset: .125em;
$border-width: .125em;
$accent-color: #e4457d;
$transition: .2s ease-out;

.landing-newsletter-subscribe {
  button {
    background-color: $accent-color;
    border: none;
    color: $text-color;
    display: inline-block;
    padding: .66em 2.25em;
    position: relative;
    text-decoration: none;
    transition: background-color $transition;

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: $offset;
      left: $offset;
      border-bottom: $border-width solid;
      border-right: $border-width solid;
      border-color: $accent-color;
      transition: border-color $transition;
    }

    &:active {
      transform: translate($offset, $offset);

      &:after {
        transform: translate(-$offset, -$offset);
      }
    }

    &:hover {
      background-color: darken($accent-color, 10%);

      &:after {
        border-color: darken($accent-color, 10%);
      }
    }
  }
}

// #splash svg {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
// }
//
// .about-article {
//   margin-top: 10px;
// }
//
// .about-paragraph {
//   margin-top: 10px;
//   margin-bottom: 10px;
// }
