/* ============================================
  Variables
============================================ */

// Colors
$dark-orange: #F57C00;
$orange: #F57C00;
$light-orange: #FFF3E0;
$peach: #FFE0B2;
$red: #FF5252;
$black: #212121;
$dark-gray: #727272;
$light-gray: #B6B6B6;
$green: #4CAF50;
$yellow: #FFA000;

// Grays
$gray-dark-3: lighten($black, 12.5%);
$gray-dark-2: lighten($black, 25%);
$gray-dark-1: lighten($black, 37.5%);
$gray-med: lighten($black, 50%);
$gray-light-3: lighten($black, 67.5%);
$gray-light-2: lighten($black, 75%);
$gray-light-1: lighten($black, 87.5%);

// Color Descriptions
$body-background-color: #e7e5e0;
$container-background-color: #f9f9f9;

$primary-color: $orange;
$dark-primary-color: $dark-orange;
$light-primary-color: $peach;
$icon-text-color: $black;
$accent-color: $red;
$primary-text-color: $black;
$secondary-text-color: $dark-gray;
$divider-color: $light-gray;

// Breakpoints
$mobile-menu-item: new-breakpoint(max-width 960px);

// Font Sizes
$large-font-size: 4em;
$medium-font-size: 1.75em;
$small-font-size: 0.8em;

$margin-bottom-extra-small: 0.1em;
$margin-bottom-small: 0.25em;
$margin-bottom-small-50: 0.5em;
$margin-bottom-small-75: 0.75em;
$margin-bottom-normal: 1em;
$margin-bottom-large: 1.5em;
