/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

/**
 * 0.063 = 1px
 * 0.375 = 6px
 * 0.625 = 10px
 * 1 = 16px
 * 1.25 = 20px
 * @see: https://www.madebymike.com.au/writing/using-css-variables/
 */
:root {
  --color-header: #222;
  --color-link: #3273dc;
  --color-code-bg: #f2f2f2;
  --color-page-bg: #f9f4ef;
  --color-content: #444;
  --color-blockquote-border: #999;
  --color-blockquote-content: #222;

  /* scale for 1.2 */
  --font-size-1: 1rem;
  --font-size-2: 1.2rem;
  --font-size-3: 1.44rem;
  --font-size-4: 1.728rem;
  --font-size-5: 2.074rem;
  --font-size-6: 2.488rem;
}

@media screen and (min-width: 800px) {
  :root {
    /* scale for 1.33 */
    --font-size-1: 1rem;
    --font-size-2: 1.333rem;
    --font-size-3: 1.777rem;
    --font-size-4: 2.369rem;
    --font-size-5: 3.157rem;
    --font-size-6: 4.209rem;
  }
}

body {
  background-color: var(--color-page-bg);
  font-family: 'Merriweather Sans Variable', Verdana, sans-serif;
  overflow-wrap: break-word;
  padding: 1.25rem;
  text-align: left;
  word-wrap: break-word;
}
