@import "tailwindcss";
@config "../../tailwind.config.js";

@font-face {
  font-family: "Brother 1816";
  src: url("/fonts/brother-1816/Webfonts/brother1816_thin_macroman/01-brother1816-thin-webfont.woff2")
      format("woff2"),
    url("/fonts/brother-1816/Webfonts/brother1816_thin_macroman/01-brother1816-thin-webfont.woff")
      format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Brother 1816";
  src: url("/fonts/brother-1816/Webfonts/brother1816_thinitalic_macroman/02-brother1816-thin_italic-webfont.woff2")
      format("woff2"),
    url("/fonts/brother-1816/Webfonts/brother1816_thinitalic_macroman/02-brother1816-thin_italic-webfont.woff")
      format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Brother 1816";
  src: url("/fonts/brother-1816/Webfonts/brother1816_light_macroman/03-brother1816-light-webfont.woff2")
      format("woff2"),
    url("/fonts/brother-1816/Webfonts/brother1816_light_macroman/03-brother1816-light-webfont.woff")
      format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Brother 1816";
  src: url("/fonts/brother-1816/Webfonts/brother1816_lightitalic_macroman/04-brother1816-light_italic-webfont.woff2")
      format("woff2"),
    url("/fonts/brother-1816/Webfonts/brother1816_lightitalic_macroman/04-brother1816-light_italic-webfont.woff")
      format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Brother 1816";
  src: url("/fonts/brother-1816/Webfonts/brother1816_book_macroman/05-brother1816-book-webfont.woff2")
      format("woff2"),
    url("/fonts/brother-1816/Webfonts/brother1816_book_macroman/05-brother1816-book-webfont.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Brother 1816";
  src: url("/fonts/brother-1816/Webfonts/brother1816_bookitalic_macroman/06-brother1816-book_italic-webfont.woff2")
      format("woff2"),
    url("/fonts/brother-1816/Webfonts/brother1816_bookitalic_macroman/06-brother1816-book_italic-webfont.woff")
      format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Brother 1816";
  src: url("/fonts/brother-1816/Webfonts/brother1816_regular_macroman/07-brother1816-regular-webfont.woff2")
      format("woff2"),
    url("/fonts/brother-1816/Webfonts/brother1816_regular_macroman/07-brother1816-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Brother 1816";
  src: url("/fonts/brother-1816/Webfonts/brother1816_italic_macroman/08-brother1816_regular_italic-webfont.woff2")
      format("woff2"),
    url("/fonts/brother-1816/Webfonts/brother1816_italic_macroman/08-brother1816_regular_italic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Brother 1816";
  src: url("/fonts/brother-1816/Webfonts/brother1816_medium_macroman/09-brother1816-medium-webfont.woff2")
      format("woff2"),
    url("/fonts/brother-1816/Webfonts/brother1816_medium_macroman/09-brother1816-medium-webfont.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Brother 1816";
  src: url("/fonts/brother-1816/Webfonts/brother1816_mediumitalic_macroman/10-brother1816-medium_italic-webfont.woff2")
      format("woff2"),
    url("/fonts/brother-1816/Webfonts/brother1816_mediumitalic_macroman/10-brother1816-medium_italic-webfont.woff")
      format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Brother 1816";
  src: url("/fonts/brother-1816/Webfonts/brother1816_bold_macroman/11-brother1816-bold-webfont.woff2")
      format("woff2"),
    url("/fonts/brother-1816/Webfonts/brother1816_bold_macroman/11-brother1816-bold-webfont.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Brother 1816";
  src: url("/fonts/brother-1816/Webfonts/brother1816_bolditalic_macroman/12-brother1816-bold_italic-webfont.woff2")
      format("woff2"),
    url("/fonts/brother-1816/Webfonts/brother1816_bolditalic_macroman/12-brother1816-bold_italic-webfont.woff")
      format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Brother 1816";
  src: url("/fonts/brother-1816/Webfonts/brother1816_extrabold_macroman/13-brother1816-extrabold-webfont.woff2")
      format("woff2"),
    url("/fonts/brother-1816/Webfonts/brother1816_extrabold_macroman/13-brother1816-extrabold-webfont.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Brother 1816";
  src: url("/fonts/brother-1816/Webfonts/brother1816_extrabolditalic_macroman/14-brother1816-extrabold_italic-webfont.woff2")
      format("woff2"),
    url("/fonts/brother-1816/Webfonts/brother1816_extrabolditalic_macroman/14-brother1816-extrabold_italic-webfont.woff")
      format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Brother 1816";
  src: url("/fonts/brother-1816/Webfonts/brother1816_black_macroman/15-brother1816-black-webfont.woff2")
      format("woff2"),
    url("/fonts/brother-1816/Webfonts/brother1816_black_macroman/15-brother1816-black-webfont.woff")
      format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Brother 1816";
  src: url("/fonts/brother-1816/Webfonts/brother1816_blackitalic_macroman/16-brother1816-black_italic-webfont.woff2")
      format("woff2"),
    url("/fonts/brother-1816/Webfonts/brother1816_blackitalic_macroman/16-brother1816-black_italic-webfont.woff")
      format("woff");
  font-weight: 800;
  font-style: italic;
}

/**
 * 0.063 = 1px
 * 0.375 = 6px
 * 0.625 = 10px
 * 1 = 16px
 * 1.25 = 20px
 * @see: https://www.madebymike.com.au/writing/using-css-variables/
 */
:root {
  --color-header: #222;
  --color-link: #3273dc;
  --color-code-bg: #f2f2f2;
  --color-page-bg: #f9f4ef;
  --color-content: #444;
  --color-blockquote-border: #999;
  --color-blockquote-content: #222;

  /* scale for 1.2 */
  --font-size-1: 1rem;
  --font-size-2: 1.2rem;
  --font-size-3: 1.44rem;
  --font-size-4: 1.728rem;
  --font-size-5: 2.074rem;
  --font-size-6: 2.488rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-page-bg: #020817;
  }
}

@media screen and (min-width: 800px) {
  :root {
    /* scale for 1.33 */
    --font-size-1: 1rem;
    --font-size-2: 1.333rem;
    --font-size-3: 1.777rem;
    --font-size-4: 2.369rem;
    --font-size-5: 3.157rem;
    --font-size-6: 4.209rem;
  }
}

body {
  background-color: var(--color-page-bg);
  font-family: "Brother 1816", Verdana, sans-serif;
  overflow-wrap: break-word;
  padding: 1.25rem;
  text-align: left;
  word-wrap: break-word;
}
