---
import { getCollection } from "astro:content";
import CurationItem from "../../components/CurationItem.astro";
import CurationPage from "../../layouts/CurationPage.astro";
import PaginatedPosts from "../../components/PaginatedPosts.astro";
import Pagination from "../../components/Pagination.astro";
import ProseArticle from "../../components/ProseArticle.astro";

const TOTAL_NUMBER_OF_ITEMS = 16;

const bookLibrary = (await getCollection("book"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .map((item) => ({
    ...item,
    data: {
      ...item.data,
      type: "books",
    },
  }));
const antibookLibrary = (await getCollection("antiLibrary"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .map((item) => ({
    ...item,
    data: {
      ...item.data,
      type: "antibooks",
    },
  }));
const filmLibrary = (await getCollection("filmLibrary"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .map((item) => ({
    ...item,
    data: {
      ...item.data,
      type: "films",
    },
  }));
const lindyLibrary = (await getCollection("lindy"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .map((item) => ({
    ...item,
    data: {
      ...item.data,
      type: "lindy",
    },
  }));
const logs = (await getCollection("log"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .map((item) => ({
    ...item,
    data: {
      ...item.data,
      type: "log",
    },
  }));
const creators = (await getCollection("creator"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .map((item) => ({
    ...item,
    data: {
      ...item.data,
      type: "creators",
    },
  }));

// Combines all of the collections and finds the latest `TOTAL_NUMBER_OF_ITEMS` items
const combination = [
  ...bookLibrary,
  ...antibookLibrary,
  ...filmLibrary,
  ...lindyLibrary,
  ...logs,
  ...creators,
]
  .sort((a, b) => {
    // If updated date exists, use that first, then use pubDate if not
    const aDate = a.data.updatedDate ? a.data.updatedDate : a.data.pubDate;
    const bDate = b.data.updatedDate ? b.data.updatedDate : b.data.pubDate;
    return bDate.valueOf() - aDate.valueOf();
  })
  .slice(0, TOTAL_NUMBER_OF_ITEMS);

const curations = (await getCollection("curation")).sort((a, b) =>
  a.data.title.localeCompare(b.data.title)
);
---

<CurationPage>
  <ProseArticle class="mx-0">
    <p>
      This is the curated collection of eclectic items. I love collecting
      different kinds of mediums and media. The things that have resonated I'll
      shelve in my library.
    </p>
  </ProseArticle>
  <section class="grid grid-cols-8 gap-4 mt-8">
    <ul class="col-span-8 sm:col-span-4 md:col-span-3 flex flex-col gap-4 list-none p-0">
      {
        curations.map(
          (curation) => !curation.data.draft && <CurationItem item={curation} />
        )
      }
    </ul>
    <div class="col-span-8 sm:col-span-4 md:col-span-5">
      <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700 sm:hidden" />
      <ul class="flex flex-col gap-8 list-none p-0">
        <PaginatedPosts posts={combination} />
      </ul>
      <Pagination next="/curation/page/2" currentPage={1} />
    </div>
  </section>
</CurationPage>
