---
import { getCollection } from "astro:content";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../../consts";
import LibraryPage from "../../../layouts/LibraryPage.astro";
---

<LibraryPage>
  <section>
    <h2 class="text-2xl mt-8 dark:text-white">🚧 Under Construction 🚧</h2>
  </section>
</LibraryPage>
