---
import { CollectionEntry, getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import SeriesPage from "../../layouts/SeriesPage.astro";

export async function getStaticPaths() {
  const series = await getCollection("series");
  return series.map((s) => ({
    params: { slug: s.slug },
    props: s,
  }));
}
type Props = CollectionEntry<"series">;

const series = Astro.props;

const posts = (await getCollection("blog")).filter(
  (post) =>
    Array.isArray(post.data.tags) && post.data.tags.includes(series.data.tag)
);

const { Content } = await series.render();
---

<SeriesPage {...series.data}>
  <h1>{series.data.title}</h1>
  <Content />
  <h3>Posts</h3>
  <ul class="list-none p-0">
    {
      posts.map((post) => (
        <li class="flex">
          <FormattedDate
            class="mt-0 lg:mt-0 flex-shrink-0 flex-grow-0 flex-[130px] italic text-slate-600"
            date={post.data.pubDate}
          />
          <a class="visited:text-purple-600" href={`/blog/${post.slug}/`}>
            {post.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</SeriesPage>
