---
import { CollectionEntry, getCollection } from 'astro:content';
import LogPost from '../../../layouts/LogPost.astro';

export async function getStaticPaths() {
	const posts = await getCollection('log');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'log'>;

const post = Astro.props;
const { Content } = await post.render();
---

<LogPost {...post.data}>
	<h1>{post.data.title}</h1>
	<Content />
</LogPost>
