---
import { getCollection } from "astro:content";
import CurationDetailsPage from "../../../layouts/CurationDetailsPage.astro";
import ProseArticle from "../../../components/ProseArticle.astro";
import TitleHeading from "../../../components/TitleHeading.astro";

const logs = (await getCollection("log")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<CurationDetailsPage title="Logs by Year">
  <ProseArticle>
    <p>
      These are logs of consumed media from the past few years. (Updates in
      Progress).
    </p>
    <p>I've been logging media consumption since 2010.</p>
    <ul>
      {
        logs.map((log) => (
          <li>
            <a href={`/curation/log/${log.slug}/`} title={log.data.title}>
              {log.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </ProseArticle>
</CurationDetailsPage>
