---
layout: next-default
---

<div class="about" id="about">

  <section class="landing-top">
    <div class="landing-top-bar"></div>
  </section>

  <div class="landing-container">
    {% include left-matter.html pageName="About" %}

    <section class="landing-right">
      <section class="landing-top-banner">
        <header class="landing-header">
          <div class="landing-header-title">
            <span>
              <a class="site-title" href="{{ site.baseurl }}/">About</a>
            </span>
          </div>
        </header>
      </section>

      {% for blurb in site.abouts %}
        {{ blurb.content }}
      {% endfor %}

    </section>
  </div>
</div>
