---
import BaseBody from "../components/BaseBody.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import HomePagePosts from "../components/HomePagePosts.astro";
import HomePageSide from "../components/HomePageSide.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <BaseBody>
    <Header />
    <main class="dark:text-white">
      <!-- <div class="mt-4 mb-6 flex flex-col sm:flex-row gap-4 justify-between">
        <div>
          <h1 class="text-3xl md:text-6xl">
            Craft By Zen
          </h1>
        </div>
      </div> -->

      <!-- <hr class="mt-10 mb-10" /> -->
      <HomePagePosts />
      <!-- <div class="grid grid-cols-1 md:grid-cols-8 gap-8">
        <div class="col-span-1 md:col-span-6">
          <HomePagePosts />
        </div>
        <div class="col-span-1 md:block md:col-span-2">
          <HomePageSide />
        </div>
      </div> -->
    </main>
    <Footer />
  </BaseBody>
</html>
