---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Resume"
  description="Latest Resume"
  pubDate={new Date("November 25, 2015")}
  updatedDate={new Date("April 27 2022")}
  heroImage=""
  postType="resume"
>
  <div class="container resume-container">
    <div class="header">
      <header>
        <h1><strong>Jeremy Wong</strong></h1>
        <p>Resides in Bay Area, California, USA</p>
        <p>Local or Remote work: ok</p>
      </header>
      <main>
        <div>
          <h2>Profile</h2>
          <p class="profile--desc__text">
            I’m a former medical device engineer turned software engineer,
            developing skills in front-end development. Acquired skills in build
            tools, quick prototyping, new frameworks and cross-browser testing.
          </p>

          <h2>Employment</h2>

          <ul>
            <li>
              <p>
                <strong>2018-current</strong>

                <strong>Clear Labs</strong>
                Senior Lead Application Engineer
              </p>
              <p>
                <ul class="work--projects">
                  <li class="work--project">
                    <span class="work--project__title"
                      ><strong>Clear Dx WGS</strong></span
                    >
                    <span class="work--project__subtitle"
                      ><em
                        >Our comprehensive whole genome sequencing (WGS)
                        platform accelerates detection of infectious disease
                        outbreaks and helps inform the action required to manage
                        public outbreaks.</em
                      ></span
                    >
                    <ul class="work--project-responsibilities">
                      <li class="work--project-responsibility">
                        <span>TBD (updates in progress)</span>
                      </li>
                    </ul>
                    <span class="work--project__title"
                      ><strong>Clear Safety</strong></span
                    >
                    <span class="work--project__subtitle"
                      ><em
                        >We leverage next-generation sequencing (NGS) to
                        completely reinvent the way that food is tested and
                        analyzed before it’s consumed by millions of people each
                        day.
                      </em></span
                    >
                    <ul class="work--project-responsibilities">
                      <li class="work--project-responsibility">
                        <span>TBD (updates in progress)</span>
                      </li>
                    </ul>
                  </li>
                </ul>
              </p>
            </li>
            <li>
              <p>
                <strong>2014-2018</strong>

                <strong>Inform</strong>
                Senior Front-end Engineer
              </p>
              <div class="work--company">
                <div class="work--desc">
                  <ul class="work--projects">
                    <li class="work--project">
                      <span class="work--project__title"
                        ><strong>Digital Media Exchange</strong></span
                      >
                      <span class="work--project__subtitle"
                        ><em
                          >Dashboard for customers and internal employees for
                          all of Inform's Services</em
                        ></span
                      >
                      <ul class="work--project-responsibilities">
                        <li class="work--project-responsibility">
                          <span
                            >Joined my team as a lead front-end role reviewing
                            design and interactions and developing the UI
                            infrastructure in React</span
                          >
                        </li>
                        <li class="work--project-responsibility">
                          <span
                            >Facilitated usability testing to determine weak
                            points of the application to improve in the next
                            development cycle</span
                          >
                        </li>
                      </ul>
                    </li>
                    <li class="work--project">
                      <span class="work--project__title"
                        ><strong>Wordpress Plugin</strong></span
                      >
                      <ul class="work--project-responsibilities">
                        <li class="work--project-responsibility">
                          <span
                            >Developed Inform's Wordpress plugin for customers
                            to embed videos without leaving the Wordpress
                            environment</span
                          >
                        </li>
                      </ul>
                    </li>
                    <li class="work--project">
                      <span class="work--project__title"
                        ><strong>Insights</strong></span
                      >
                      <span class="work--project__subtitle"
                        ><em
                          >Dashboard for publishers to understand their content
                          using Reverb's services</em
                        ></span
                      >
                      <ul class="work--project-responsibilities">
                        <li class="work--project-responsibility">
                          <span
                            >Developed dashboard for Insights using Angular with
                            customized data visualizations using d3</span
                          >
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </main>

      <div class="work--company">
        <div class="work--company__left">
          <span class="work--company__duration"
            ><strong>2014-Current</strong></span
          >
        </div>
        <div class="work--company__right">
          <div class="work--company__info">
            <span class="work--company__name"><strong>Freelancing</strong></span
            >
          </div>
          <div class="work--desc">
            <ul class="work--projects">
              <li class="work--project">
                <span class="work--project__title"
                  ><strong>MedicareMojo</strong></span
                >
                <!-- <span class="work--project__subtitle"><em>TBA</em></span> -->
                <ul class="work--project-responsibilities">
                  <li class="work--project-responsibility">
                    <span
                      >Incorporated IBM Watson NLC services for Q&amp;A app for
                      medicare information</span
                    >
                  </li>
                </ul>
              </li>
              <li class="work--project">
                <span class="work--project__title"
                  ><strong>FamiliesUSA</strong></span
                >
                <!-- <span class="work--project__subtitle"><em>TBA</em></span> -->
                <ul class="work--project-responsibilities">
                  <li class="work--project-responsibility">
                    <span
                      >Developed chloropleth map with interactivity for learning
                      about new Medicare changes</span
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="work--company">
        <div class="work--company__left">
          <span class="work--company__duration"><strong>2012-2014</strong></span
          >
        </div>
        <div class="work--company__right">
          <div class="work--company__info">
            <span class="work--company__name"
              ><strong>Lumenous Device Technologies</strong></span
            >
            <span class="work--company__title">Application Engineer</span>
          </div>
          <div class="work--desc">
            <ul class="work--responsibilities">
              <li class="work--responsibility">
                <span
                  >Facilitated job orders from raw material to end product to
                  customer specs</span
                >
              </li>
              <li class="work--responsibility">
                <span
                  >Engineered custom tooling and fixtures for manufacturing
                  customer-specific parts</span
                >
              </li>
              <li class="work--responsibility">
                <span>Implemented lean manufacturing practices</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <article class="education">
      <h3>Education</h3>

      <ul>
        <li>
          <div class="education--school__left">
            <span class="education--school__year"
              ><strong>🚌 2014 - 2014</strong></span
            >
          </div>
          <div class="education--school__right">
            <span class="education--school__name"
              ><strong>Dev Bootcamp</strong></span
            >
            <span class="education--school__degree"
              ><em>Web Development</em></span
            >
          </div>
        </li>
        <li>
          <div class="education--school__left">
            <span class="education--school__year"
              ><strong>🚌 2008-2012</strong></span
            >
          </div>
          <div class="education--school__right">
            <span class="education--school__name"
              ><strong>Cal Poly, San Luis Obispo</strong></span
            >
            <span class="education--school__degree"
              ><em>B.S. Biomedical Engineering</em></span
            >
          </div>
        </li>
      </ul>
    </article>
  </div>

  <article class="volunteering">
    <h3>Volunteering</h3>
    <ul>
      <li>
        <strong>2017 - 2021</strong>
        <strong>Hackbright Academy</strong>
        Mentor and Guest Lecturer
      </li>
      <li>
        <strong>2019</strong>
        <strong>Eat Real Festival</strong>
        Volunteer
      </li>
      <li>
        <strong>2016</strong>
        <strong>Papers Club</strong>
        Event Coordinator
      </li>
      <li>
        <strong>2015</strong>
        <strong>ML Group</strong>
        Event Coordinator
      </li>
      <li>
        <strong>2014</strong>
        <strong>Coding Club</strong>
        Facilitator
      </li>
      <li>
        <strong>2014</strong>
        <strong>HTML5 Developer Conference</strong>
        Volunteer
      </li>
      <li>
        <strong>2012</strong>
        <strong>The Crucible</strong>
        Volunteer
      </li>
      <li>
        <strong>2010 - 2012</strong>
        <strong>QL+ (Quality of Life +)</strong>
        Treasurer
      </li>
      <li>
        <strong>2008 - 2009</strong>
        <strong>Cal Poly Language Opportunities and Outreach for Kids</strong>
        Teacher
      </li>
    </ul>
  </article>

  <div class="flex flex-row justify-between align-top my-2">
    <article class="stack">
      <h3>Active Stack</h3>
      <div class="stack--container">
        <ul class="stack--list">
          <li>React</li>
          <li>Node</li>
          <li>Supabase</li>
          <li>Vercel</li>
          <li>Github Actions</li>
          <li>Jest</li>
          <li>Cypress</li>
        </ul>
      </div>
    </article>

    <article class="projects">
      <h3>Featured Projects</h3>
      <div class="projects--build">
        <span class="projects--build__name"
          ><strong>Coral Reef Game</strong></span
        >&nbsp;<span class="projects--build__website"
          ><a href="http://goo.gl/k3N98x" target="blank">goo.gl/k3N98x</a></span
        >
        <ul class="projects--build__skills">
          <li class="projects--build__skill">
            <span class="projects--build__skill-name">Game Development</span>
          </li>
          <li class="projects--build__skill">
            <span class="projects--build__skill-name">Environmentalism</span>
          </li>
        </ul>
      </div>
      <div class="projects--build">
        <span class="projects--build__name"><strong>Remembrance</strong></span
        >&nbsp;<span class="projects--build__website"
          ><a href="http://goo.gl/TMWJyV" target="blank">goo.gl/TMWJyV</a></span
        >
        <ul class="projects--build__skills">
          <li class="projects--build__skill">
            <span class="projects--build__skill-name">Social Spaces</span>
          </li>
          <li class="projects--build__skill">
            <span class="projects--build__skill-name">Rails</span>
          </li>
          <li class="projects--build__skill">
            <span class="projects--build__skill-name">Team Work</span>
          </li>
        </ul>
      </div>
    </article>

    <article>
      <h3>Code / Links</h3>
      <ul>
        <li>
          <a href="mailto:jeremy@craftbyzen.com" target="_blank">Email</a>
        </li>
        <li>
          <a href="https://craftbyzen.com/" target="_blank">Craft By Zen</a>
        </li>
        <li>
          <a href="http://github.com/jermspeaks" target="_blank">Github</a>
        </li>
        <li>
          <a href="http://codepen.io/jermspeaks/" target="_blank">Codepen</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/jeremynwong" target="_blank"
            >LinkedIn</a
          >
        </li>
      </ul>
    </article>
  </div>
</Layout>
