---
import { Image } from "astro:assets";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseBody from "../components/BaseBody.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ProseArticle from "../components/ProseArticle.astro";
import subscribeImage from "../images/subscribe.png";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
      srcImage={subscribeImage.src}
      imageAlt="Subscribe to my newsletter"
    />
  </head>

  <BaseBody>
    <Header />
    <main class="dark:text-white">
      <ProseArticle>
        <h1 class="mt-4 mb-6 text-3xl md:text-6xl">Subscribe</h1>
        <Image src={subscribeImage} alt="Subscribe to my newsletter" />
        <p>
          I have put back together my newsletter after years of absense! These
          are primarily updates on my blog, "Craft By Zen", and maybe some
          highlights to the new articles I've written. There might be some life
          updates as well. I'm doing away with the old format of weekly longform
          essays, and trying some new things with my newsletter.
        </p>
        <form
          action="https://buttondown.email/api/emails/embed-subscribe/craftbyzen"
          method="post"
          target="popupwindow"
          onsubmit="window.open('https://buttondown.email/craftbyzen', 'popupwindow')"
          class="embeddable-buttondown-form flex flex-col gap-2 sm:w-[50%]"
        >
          <label
            class="text-slate-800 dark:text-slate-200 text-sm"
            for="bd-email">Email</label
          >
          <input
            class="py-1 px-2 md:py-2 md:px-4"
            type="email"
            name="email"
            id="bd-email"
            placeholder="Enter your email"
          />

          <button
            type="submit"
            value="Subscribe"
            class="bg-yellow-700 hover:bg-purple-700 dark:bg-yellow-300 text-white dark:text-black font-bold px-4 rounded"
            >Subscribe</button
          >
          <a
            class="text-sm"
            href="https://buttondown.email/refer/craftbyzen"
            target="_blank">Powered by Buttondown.</a
          >
        </form>
        <h3>
          Go to <a href="/curation/newsletter" class="hover:text-purple-500"
            >Newsletter Series</a
          >
        </h3>
      </ProseArticle>
    </main>

    <Footer />
  </BaseBody>
</html>
