---
layout: post
---
<div class="home">
  <section class="writing-collection">
    <ul class="blog-list">
      {% for post in site.posts %}
        {% unless post.categories contains 'letters' %}
          {% unless post.draft %}
            {% if post.title %}
            <li>
              <div class="blog-title">
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </div>
              <div>
                <span>Published</span>
                <span>{{ post.date | date: '%B %d, %Y' }}</span>
              </div>
            </li>
            {% endif %}
          {% endunless %}
        {% endunless %}
      {% endfor %}
  </ul>
  </section>
</div>
