---
layout: products
---

<div class="store">
  <div class="site-title">
    <span>Store</span>
  </div>

  <div>
    <em>
      <span>You'd think a website that combines Zen and Crafts should be about selling meditation stones made of yarn.</span>
      <span>Sorry to disappoint. This is my store of miscellany.</span>
      <span>You are free to browse around and buy what you like.</span>
    </em>
  </div>

  <div class="product-items">
    {% for product in site.products %}
      {% include product.html %}
    {% endfor %}
  </div>

</div>
