---
import { getCollection } from "astro:content";
import LibraryPage from "../../../layouts/LibraryPage.astro";

const lindyLibrary = (await getCollection("lindy")).sort(
  (a, b) => b.data.title - a.data.title
);
---

<LibraryPage>
  <section>
    <h3 class="text-xl mt-8 mb-4 dark:text-white">What's a Lindy Library?</h3>
    <p class="dark:text-white">
      A <strong>Lindy Library</strong> is an annex of content that has stood the
      test of time.
    </p>
    <h3 class="text-xl mt-5 mb-3 dark:text-white">Contents</h3>
    <ul class="flex flex-col list-none p-0 gap-1">
      {
        lindyLibrary.map((lindyItem) => (
          <li class="flex rounded-sm box-border p-4 bg-slate-100 dark:bg-slate-800 dark:text-white">
            <a href={`/library/lindy/${lindyItem.slug}`}>
              {lindyItem.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</LibraryPage>
