---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

type Props = {
  item: CollectionEntry<"about">;
};

const { item } = Astro.props;
const { data } = item;
const { Content } = await render(item);
---

<section>
  <h2>{data.title}</h2>

  <article><Content /></article>
</section>
