---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header class="mb-8 flex justify-between align-middle print:hidden">
  <h2
    class="text-xl font-bold mb-8 text-black no-underline hover:text-gray-600 dark:text-white"
  >
    <a href="/">{SITE_TITLE}</a>
  </h2>
  <nav class="hidden md:flex md:gap-3 md:mb-8 dark:text-white">
    <!-- <HeaderLink href="/">Home</HeaderLink> -->
    <HeaderLink href="/blog">Writing</HeaderLink>
    <HeaderLink href="/project">Projects</HeaderLink>
    <HeaderLink href="/press">Press</HeaderLink>
    <HeaderLink href="/library">Library</HeaderLink>
    <HeaderLink href="/log">Logs</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
  </nav>
  <div class="md:hidden">
    <button
      aria-label="open menu"
      data-nav-button
      class="border-none bg-none cursor-pointer flex justify-center p-1 text-black hover:text-gray-600"
    >
      <svg width="24" height="20" viewBox="0 0 24 24" class="dark:fill-white">
        <rect y="9" width="24" height="4" rx="2"></rect>
        <>
          <rect width="24" height="4" rx="2"></rect>
          <rect y="18" width="24" height="4" rx="2"></rect>
        </>
      </svg>
    </button>
    <div class="full-page-menu mobile-menu-closed bg-yellow-50 dark:bg-slate-900" data-nav-menu>
      <button aria-label="open menu" data-nav-button>
        <svg width="21" height="21" class="dark:fill-white"
          ><rect
            x="4.136"
            y="0.6"
            width="23"
            height="5"
            rx="2"
            transform="rotate(45 4.136 .6)"></rect><rect
            x="0.601"
            y="16.864"
            width="23"
            height="5"
            rx="2"
            transform="rotate(-45 .6 16.864)"></rect></svg
        >
      </button>
      <nav
        class="flex flex-col gap-8 items-center w-full mt-8 text-2xl dark:bg-slate-800 dark:text-white"
      >
        <HeaderLink href="/blog">Writing</HeaderLink>
        <HeaderLink href="/project">Projects</HeaderLink>
        <HeaderLink href="/press">Press</HeaderLink>
        <HeaderLink href="/library">Library</HeaderLink>
        <HeaderLink href="/log">Logs</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
      </nav>
    </div>
  </div>
</header>
<style>
  @media screen and (max-width: 768px) {
    .mobile-menu button {
      border: none;
      background: none;
      cursor: pointer;
      display: flex;
      justify-items: center;
      padding: 4px;
    }

    .mobile-menu-closed {
      display: none;
    }
    .mobile-menu-open {
      position: absolute;
      z-index: 20;
      right: 0px;
      top: 0px;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      -webkit-box-align: start;
      align-items: flex-start;
      transition: all 0.3s ease-in-out 0s;
      padding-top: 1rem;
    }
    .mobile-menu-open button {
      border: none;
      background: none;
      cursor: pointer;
      display: flex;
      justify-items: center;
      padding: 4px;
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }
</style>

<script>
  // Find our component DOM on the page.
  const buttons = document.querySelectorAll("[data-nav-button]");
  const fullPageMenus = document.querySelectorAll("[data-nav-menu]");

  // Add event listeners to fire confetti when a button is clicked.
  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      if (fullPageMenus[0]) {
        const fullPageMenu = fullPageMenus[0];
        if (fullPageMenu.classList.contains("mobile-menu-open")) {
          fullPageMenu.classList.remove("mobile-menu-open");
          fullPageMenu.classList.add("mobile-menu-closed");
        } else {
          fullPageMenu.classList.remove("mobile-menu-closed");
          fullPageMenu.classList.add("mobile-menu-open");
        }
      }
    });
  });
</script>
