---
import { SITE_TITLE } from "../consts";
import SearchDialog from "./SearchDialog.astro";
import HeaderLink from "./HeaderLink.astro";

type Props = {
  searchEnabled?: boolean;
};

const { searchEnabled = true } = Astro.props;
---

<header
  class="max-w-xl md:max-w-2xl mx-auto mb-4 flex justify-between align-middle print:hidden"
>
  <h1
    class="text-xl font-bold mb-4 text-black no-underline hover:text-gray-600 dark:hover:text-yellow-300 dark:text-white"
  >
    <a href="/">{SITE_TITLE}</a>
    <span class="text-sm text-gray-500">by Jeremy Wong</span>
  </h1>
  <nav class="hidden md:flex md:gap-3 md:items-center md:mb-4 dark:text-white">
    <!-- <HeaderLink href="/blog">Writing</HeaderLink> -->
    <HeaderLink href="/project">Playground</HeaderLink>
    <HeaderLink href="/curation">Curation</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    {searchEnabled && <SearchDialog />}
  </nav>
  <div class="md:hidden">
    {
      searchEnabled ? (
        <div class="flex">
          <a
            href="/search"
            class="border-none bg-none cursor-pointer flex justify-center p-1 text-black hover:text-gray-600"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              width="24"
              height="20"
              class="dark:fill-white"
            >
              <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
            </svg>
          </a>
          <button
            aria-label="open menu"
            data-nav-button
            class="border-none bg-none cursor-pointer flex justify-center p-1 text-black hover:text-gray-600"
          >
            <svg
              width="24"
              height="20"
              viewBox="0 0 24 24"
              class="dark:fill-white"
            >
              <rect y="9" width="24" height="4" rx="2" />
              <>
                <rect width="24" height="4" rx="2" />
                <rect y="18" width="24" height="4" rx="2" />
              </>
            </svg>
          </button>
        </div>
      ) : (
        <button
          aria-label="open menu"
          data-nav-button
          class="border-none bg-none cursor-pointer flex justify-center p-1 text-black hover:text-gray-600"
        >
          <svg
            width="24"
            height="20"
            viewBox="0 0 24 24"
            class="dark:fill-white"
          >
            <rect y="9" width="24" height="4" rx="2" />
            <>
              <rect width="24" height="4" rx="2" />
              <rect y="18" width="24" height="4" rx="2" />
            </>
          </svg>
        </button>
      )
    }
    <div
      class="full-page-menu mobile-menu-closed bg-[#f9f4ef] dark:bg-slate-900"
      data-nav-menu
    >
      <button aria-label="open menu" data-nav-button>
        <svg width="21" height="21" class="dark:fill-white"
          ><rect
            x="4.136"
            y="0.6"
            width="23"
            height="5"
            rx="2"
            transform="rotate(45 4.136 .6)"></rect><rect
            x="0.601"
            y="16.864"
            width="23"
            height="5"
            rx="2"
            transform="rotate(-45 .6 16.864)"></rect></svg
        >
      </button>
      <nav
        class="flex flex-col gap-8 items-center w-full mt-8 text-2xl dark:bg-slate-900 dark:text-white"
      >
        <HeaderLink href="/blog">Writing</HeaderLink>
        <HeaderLink href="/project">Playground</HeaderLink>
        <HeaderLink href="/curation">Curation</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="/search">Search</HeaderLink>
      </nav>
    </div>
  </div>

  <style>
    @media screen and (max-width: 768px) {
      .mobile-menu button {
        border: none;
        background: none;
        cursor: pointer;
        display: flex;
        justify-items: center;
        padding: 4px;
      }

      .mobile-menu-closed {
        display: none;
      }
      .mobile-menu-open {
        position: absolute;
        z-index: 20;
        right: 0px;
        top: 0px;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        -webkit-box-align: start;
        align-items: flex-start;
        transition: all 0.3s ease-in-out 0s;
        padding-top: 1rem;
      }
      .mobile-menu-open button {
        border: none;
        background: none;
        cursor: pointer;
        display: flex;
        justify-items: center;
        padding: 4px;
        position: absolute;
        top: 1rem;
        right: 1rem;
      }
    }
  </style>

  <script>
    // Find our component DOM on the page.
    const buttons = document.querySelectorAll("[data-nav-button]");
    const fullPageMenus = document.querySelectorAll("[data-nav-menu]");

    // Add event listeners to fire confetti when a button is clicked.
    buttons.forEach((button) => {
      button.addEventListener("click", () => {
        if (fullPageMenus[0]) {
          const fullPageMenu = fullPageMenus[0];
          if (fullPageMenu.classList.contains("mobile-menu-open")) {
            fullPageMenu.classList.remove("mobile-menu-open");
            fullPageMenu.classList.add("mobile-menu-closed");
          } else {
            fullPageMenu.classList.remove("mobile-menu-closed");
            fullPageMenu.classList.add("mobile-menu-open");
          }
        }
      });
    });
  </script>
</header>
