---
import { getCollection } from "astro:content";

const posts = await getCollection("writing");
const streams = await getCollection("stream");
const collections = [...posts, ...streams];

// Get unique tags
const tags = new Set<string>();
const counts = new Map<string, number>();

collections.forEach((post) => {
  if (!post.data.draft && Array.isArray(post.data.tags)) {
    post.data.tags.forEach((tag: string) => {
      tags.add(tag);
      const currentCount = counts.get(tag) ?? 0;
      if (counts.has(tag)) {
        counts.set(tag, currentCount + 1);
      } else {
        counts.set(tag, 1);
      }
    });
  }
});

const tagList = Array.from(tags)
  .sort((a, b) => (counts.get(b) ?? 0) - (counts.get(a) ?? 0))
  .slice(0, 10);

// Convert tag to Pascal case
const toPascalCase = (tag: string): string => {
  return tag
    .split(" ")
    .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
    .join(" ");
};
---

<div class="list-none sm:p-0 grid grid-cols-1 gap-4">
  <hr class="md:hidden mt-5 mb-5" />
  <p class="mb-2">
    I'm currently leading application development at <a
      class="text-orange-700 hover:text-purple-500 dark:text-orange-500"
      href="https://clearlabs.com/"
      target="_blank">Clear Labs</a
    >.
  </p>
  <p>
    I write essays on <i>eclectic topics</i>, from <b>programming</b>, <b
      >cooking</b
    >, and strange habit of collecting <b>obituaries</b>.
  </p>
  <hr class="mt-5 mb-5" />
  <!-- Add top tags -->
  <h4>
    🔖 Top 10 <a
      class="dark:text-slate-100 hover:underline hover:text-purple-500 visited:text-amber-600 dark:visited:text-purple-300"
      href="/blog/tag">Tags</a>
  </h4>
  <ul class="flex flex-wrap gap-2 list-none m-0 p-0 print:hidden">
    {
      tagList.map((tag) => {
        return (
          <li>
            <a
              class="dark:text-slate-100 hover:underline hover:text-purple-500 visited:text-amber-600 dark:visited:text-purple-300"
              href={`/blog/tag/${tag}`}
            >
              {toPascalCase(tag)}&nbsp;({counts.get(tag)})
            </a>
          </li>
        );
      })
    }
  </ul>
  <hr class="mt-5 mb-5" />
  <div class="prose dark:prose-invert !max-w-none">
    <h4>
      <a href="/curation/newsletter" class="hover:text-purple-500"
        >Newsletter Series</a
      >
    </h4>
    <p>
      I have put back together my newsletter after years of absense! These are
      primarily updates on my blog, "Craft By Zen", and maybe some highlights to
      the new articles I've written. There might be some life updates as well.
      I'm doing away with the old format of weekly longform essays, and trying
      some new things with my newsletter.
    </p>

    <form
      action="https://buttondown.email/api/emails/embed-subscribe/craftbyzen"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://buttondown.email/craftbyzen', 'popupwindow')"
      class="embeddable-buttondown-form flex flex-col gap-2"
    >
      <label class="text-slate-800 dark:text-slate-200 text-sm" for="bd-email"
        >Email</label
      >
      <input
        class="py-1 px-2 md:py-2 md:px-4"
        type="email"
        name="email"
        id="bd-email"
        placeholder="Enter your email"
      />

      <button
        type="submit"
        value="Subscribe"
        class="bg-yellow-700 hover:bg-purple-700 dark:bg-yellow-300 text-white dark:text-black font-bold px-4 rounded"
        >Subscribe</button
      >
      <a
        class="text-sm"
        href="https://buttondown.email/refer/craftbyzen"
        target="_blank">Powered by Buttondown.</a
      >
    </form>
  </div>
</div>
