---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
import FormattedDate from "./FormattedDate.astro";
import ProseArticle from "./ProseArticle.astro";

export interface Props {
  item: CollectionEntry<"now">;
}

const { item } = Astro.props;
const { data, id } = item;
const { pubDate, title } = data;
const { Content } = await render(item);
---

<div class="max-w-none dark:text-white line-clamp-4 md:line-clamp-5">
  <a
    class="text-lg md:text-xl font-semibold my-4 hover:underline hover:text-purple-500 visited:text-amber-600 dark:visited:text-purple-300 inline-block"
    href={`/about/now#${id}`}
  >
    {title}
  </a>
  <div class="text-xs italic mb-2 text-slate-600 dark:text-slate-400">
    <FormattedDate
      class="col-span-8 md:col-span-3 lg:col-span-2 italic text-slate-600 dark:text-slate-300"
      date={pubDate}
      options={{ hour: "numeric", minute: "numeric" }}
    >
      <span slot="prepend">Published:&nbsp;</span>
    </FormattedDate>
  </div>
</div>
<ProseArticle class="prose--compact line-clamp-8 md:line-clamp-10">
  <Content />
</ProseArticle>
