---
import type { CollectionEntry } from "astro:content";
import ProseArticle from "./ProseArticle.astro";

export interface Props {
  item: CollectionEntry<"inspiration">;
}

const { item } = Astro.props;
const { title } = item.data;
const { Content } = await item.render();
---

<li class="rounded-lg px-6 py-4">
  <ProseArticle>
    <div class="px-0 py-4 text-slate-700 dark:text-slate-100">
      <Content />
    </div>
  </ProseArticle>
</li>
