---
import type { CollectionEntry } from "astro:content";
import ProseArticle from "./ProseArticle.astro";
import FormattedDate from "./FormattedDate.astro";

export interface Props {
  item: CollectionEntry<"inspiration">;
}

const { item } = Astro.props;
const { title, pubDate, updatedDate } = item.data;
const { Content } = await item.render();
---

<li class="rounded-lg px-0 py-2 sm:px-6 sm:py-4">
  <ProseArticle>
    <div class="p-0 text-slate-700 dark:text-slate-100">
      <h2><a href={`/curation/inspiration/${item.slug}`}>{title}</a></h2>
      {
        updatedDate ? (
          <FormattedDate
            class="italic text-slate-600 dark:text-slate-300"
            date={updatedDate}
          >
            <span slot="prepend">Updated:&nbsp;</span>
          </FormattedDate>
        ) : (
          <FormattedDate
            class="italic text-slate-600 dark:text-slate-300"
            date={pubDate}
          >
            <span slot="prepend">Published:&nbsp;</span>
          </FormattedDate>
        )
      }
      <Content />
    </div>
  </ProseArticle>
</li>
