---
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"now">;

const { data, render } = Astro.props;
const { Content } = await render();
---

<section
  class="border-l-2 border-gray-300 pl-8 border-dashed before:content-[''] before:w-4 before:h-4 before:border-2 before:border-solid before:border-gray-300 before:bg-[#f9f4ef] before:inline-block before:ml-[-2.6rem] before:mr-[1.7rem] before:relative before:top-[-1rem] before:rounded-full"
>
  <h2>{data.title}</h2>

  <article><Content /></article>
</section>
