---
interface Props {
  previous?: string;
  next?: string;
  currentPage: number;
}

const { previous, next, currentPage } = Astro.props;
---

<div class="flex justify-evenly items-center mt-6">
  {
    previous ? (
      <a
        href={previous}
        class="flex px-4 py-2 border-2 rounded-full hover:bg-purple-300 dark:hover:bg-purple-600 dark:text-slate-100"
      >
        Previous
      </a>
    ) : (
      <button
        disabled
        class="flex px-4 py-2 border-2 rounded-full text-slate-500 dark:text-slate-200"
      >
        Previous
      </button>
    )
  }
  Page {currentPage}
  {
    next ? (
      <a
        href={next}
        class="flex px-4 py-2 border-2 rounded-full hover:bg-purple-300 dark:hover:bg-purple-600 dark:text-slate-100"
      >
        Next
      </a>
    ) : (
      <button
        disabled
        class="flex px-4 py-2 border-2 rounded-full text-slate-500 dark:text-slate-200"
      >
        Next
      </button>
    )
  }
</div>
