---
interface Props {
  previous?: string;
  next?: string;
  currentPage: number;
  lastPage: number;
}

const { previous, next, currentPage, lastPage } = Astro.props;
---

<div class="flex justify-between items-center mt-6">
  <a
    href={previous}
    id="pagination-newer"
    class="text-slate-800 dark:text-slate-100 hover:text-purple-500 dark:hover:text-purple-400"
  >
    Newer
  </a>
  <div>Page {currentPage}</div>
  <a
    href={next}
    id="pagination-older"
    class:list={[
      "",
      lastPage === currentPage
        ? "text-slate-500 dark:text-slate-400 cursor-not-allowed"
        : "text-slate-800 dark:text-slate-100 hover:text-purple-500 dark:hover:text-purple-400",
    ]}
  >
    Older
  </a>
</div>
