---
import type { CollectionEntry } from "astro:content";

type Props = {
  item: CollectionEntry<"resume">;
  headingLevel?: Number;
};

const { item, headingLevel = 2 } = Astro.props;
const { data, render } = item;
const { Content } = await render();
---

<section>
  {headingLevel === 1 && <h1>{data.title}</h1>}
  {headingLevel === 2 && <h2>{data.title}</h2>}
  {headingLevel === 3 && <h3>{data.title}</h3>}
  {headingLevel === 4 && <h4>{data.title}</h4>}

  <article><Content /></article>
</section>
