---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

export interface Props {
  item: CollectionEntry<"stream">;
}

const { item } = Astro.props;
const { data, slug } = item;
const { title } = data;
const { Content } = await item.render();
---

<li class="py-2">
  <div class="grid grid-cols-1 gap-1 mb-2 text-slate-700 dark:text-slate-100">
    <FormattedDate
      class="text-sm italic"
      date={item.data.pubDate}
      options={{ hour: "numeric", minute: "numeric" }}
    />
    <div class="prose dark:prose-invert prose-p:m-0 line-clamp-4 md:line-clamp-5">
      <a href={`/curation/stream#${slug}`}>{title}</a>
      <Content />
    </div>
  </div>
</li>
