---
import type { CollectionEntry } from "astro:content";
import ProseArticle from "./ProseArticle.astro";
import FormattedDate from "./FormattedDate.astro";

export interface Props {
  item: CollectionEntry<"stream">;
}

const { item } = Astro.props;
const { slug, data } = item;
const { title } = data;
const { Content } = await item.render();
---

<li class="px-0 py-4">
  <ProseArticle class="prose-headings:mt-0">
    <div
      class="grid grid-cols-1 md:grid-cols-8 gap-2 mb-8 text-slate-700 dark:text-slate-100"
    >
      <div class="col-span-8">
        <div id={slug} class="text-md md:text-lg">
          <a
            class="no-underline hover:underline hover:text-purple-500"
            href={`/curation/stream/link/${slug}`}>{title}</a
          >
        </div>
        <FormattedDate
          class="italic text-sm"
          date={item.data.pubDate}
          options={{ hour: "numeric", minute: "numeric" }}
        />
        <Content />
      </div>
    </div>
  </ProseArticle>
</li>
