---
interface Link {
  href: string;
  text: string;
}
export interface Props {
  items?: Link[];
}

const defaultLinks = [
  {
    href: "/blog",
    text: "All",
  },
  {
    href: "/blog/newsletter",
    text: "Newsletter",
  },
  {
    href: "/blog/essay",
    text: "Essay",
  },
  {
    href: "/blog/learning",
    text: "Learning",
  },
  {
    href: "/blog/archive",
    text: "Archive",
  },
];
const { items = defaultLinks } = Astro.props;
const pathname = new URL(Astro.request.url).pathname;
---

<ul class="flex gap-4 list-none m-0 p-0">
  {
    items.map((item) => (
      <li>
        {pathname === item.href ? (
          <a
            class="text-gray-700 dark:text-white dark:border-blue-500 border-solid border-b-2"
            href={item.href}
          >
            <button
              disabled
              class="border-solid border-blue-500 border-2 px-4 cursor-not-allowed dark:border-blue-300 bg-none flex justify-center p-1 text-blue-500 dark:text-blue-300"
            >
              {item.text}
            </button>
          </a>
        ) : (
          <a
            class="text-gray-700 hover:text-gray-900 dark:text-white dark:hover:text-gray-400"
            href={item.href}
          >
            <button class="border-solid border-slate-800 border-2 px-4 dark:border-slate-300 bg-none cursor-pointer flex justify-center p-1 text-black hover:text-gray-400 hover:border-gray-400 dark:text-white">
              {item.text}
            </button>
          </a>
        )}
      </li>
    ))
  }
</ul>
