---
layout: next-default
---
<div class="home" id="home">

  <section class="landing-top">
    <div class="landing-top-bar"></div>
  </section>

  <div class="landing-container">
    {% include left-matter.html pageName="Writing" clickable=true %}

    <section class="landing-right">
      <section class="landing-top-banner">
        <header class="landing-header">
          <div class="landing-header-title">
            <span>
              <a class="site-title" href="{{ site.baseurl }}/">Newsletter: Season One</a>
            </span>
          </div>
        </header>
      </section>

      <section class="landing-middle-banner">
        <article class="letters-blurb">
          <div class="letters-blurb-image">
            <img src="/assets/images/bear-colored-regular.png" />
          </div>
          <div>
            <span>Welcome to the first Jear Bear Letter.</span>
            <span>My aim is to write something meaningful every week which may vary in length.</span>
            <span>I love story-telling and love to share.</span>
            <span>I really hope you enjoy it and feedback is much appreciated.</span>
            <span>If you enjoy this letter, please share it around.</span>
            <span>Tell people to subscribe to my weekly letters <a href="http://tinyletter.com/jeremywong">here</a>.</span>
            <span>I promise to post sparingly, like once a week.</span>
          </div>
        </article>
      </section>

      <!-- <section class="landing-middle-banner">
        <div class="letters-middle-title season season-one">
          <h2>
            <a href="./season-two">Series One</a>
          </h2>
          <h4>
            <span>November 2014 - January 2017</span>
          </h4>
        </div>
      </section> -->

      <section class="landing-middle-banner">
          <ul class="letter-list">
          {% for page in site.posts %}
            {% if page.categories contains 'letters' and page.tags contains 'season_1' %}
              {% if page.title %}
              <li>
                <div class="letter-title letter-left-border">
                  <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                </div>
                <div class="letter-metatags">
                  <span>Published</span>
                  <span>{{ page.date | date: '%B %d, %Y' }}</span>
                </div>
              </li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </section>

      <section class="landing-middle-banner">
        <div>
          <a href="/letters/season-two">Next Season</a>
        </div>
      </section>

    </section>
  </div>
</div>
