---
import { getCollection, getEntry } from "astro:content";
import CurationDetailsPage from "../../../layouts/CurationDetailsPage.astro";
import ProseArticle from "../../../components/ProseArticle.astro";
import StreamItem from "../../../components/StreamItem.astro";

const streams = (await getCollection("stream"))
  .filter((item) => !item.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const entry = await getEntry("curation", "stream");
const { heroImage, heroImageAlt } = entry.data;
---

<CurationDetailsPage
  image={heroImage}
  imageAlt={heroImageAlt}
  title="The Stream"
>
  <ProseArticle>
    <p>
      The anti-social media stream. Otherwise known as my personal feed. Similar
      to <a
        href="https://stream.thesephist.com/"
        target="_blank"
        rel="noreferrer">Linus's stream</a
      > by Linus Lee.
    </p>
  </ProseArticle>
  <hr class="border-y-4 border-r-2 border-gray-400 dark:border-gray-700 my-4" />
  <ul class="list-none p-0 ps-0">
    {streams.map((stream) => <StreamItem item={stream} />)}
  </ul>
</CurationDetailsPage>
