/* ============================================
  Buttons
============================================ */
@import "../resume-variables";
@mixin button-mixin($verticals, $sides) {
  outline: none;
  padding: $verticals $sides;
  margin: 10px 0;
  cursor: pointer;
}
.sm-button {
  @include button-mixin(5px, 10px);
}
.m-button {
  @include button-mixin(10px, 20px);
}
.lg-button {
  @include button-mixin(20px, 40px);
}

.alert-button {
  background-color: $red;

  &:hover {
    background-color: darken($red, 20%);
  }
}

.action-button {
  background-color: $green;

  &:hover {
    background-color: darken($green, 20%);
  }
}

.yield-button {
  background-color: $yellow;

  &:hover {
    background-color: darken($yellow, 20%);
  }
}
