/* ============================================
  Checklist
============================================ */
// @import "bourbon";

$baseFontSize: 16;

$slideDistance: 100;
$slideDuration: .4s;

@function rem($val) {
  @return #{$val / $baseFontSize}rem;
}

.checklist-content {
  background-color: white;
  padding: 1rem;
}

.checkbox-list {
  margin: .5rem;
}

.check-list-item {
  margin: 0 0 .5rem 0;
  padding: 0;
}

.check-list-label {
  position: relative;
  line-height: 150%;
  font-weight: 400;
  cursor: pointer;
}

.checkbox {
  position: relative;

  margin: 0 1rem 0 0 ;

  cursor: pointer;

  &:before {
		@include transition(all .3s ease-in-out);

		content: "";

		position: absolute;
		left: 0;
		z-index: 1;

		width: 1rem;
		height: 1rem;

		border: 2px solid #212121;
  }

  &:checked {
    &:before {
       @include transform(rotate(-45deg));

  		height: .5rem;

  		border-color: #009688;
  		border-top-style: none;
  		border-right-style: none;
    }
  }

  &:after {
    content: "";

    position: absolute;
    top: rem(-2);
    left: 0;

    width: 1.1rem;
    height: 1.1rem;

    background: #f9f9f9;

    cursor: pointer;
  }
}
