/* ============================================
  Fonts
============================================ */
@mixin font-light($font-size) {
  font-size: $font-size;
  font-weight: 100;
}
@mixin font-medium($font-size) {
  font-size: $font-size;
  font-weight: 300;
}
@mixin font-medium-bold($font-size) {
  font-size: $font-size;
  font-weight: 500;
}
@mixin font-bold($font-size) {
  font-size: $font-size;
  font-weight: 600;
}
@mixin default-font {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
@mixin special-font {
  font-family: "Lato", sans-serif;
}
