$info-icon-color: #555;
$tooltip-text-color: #fff;
$tooltip-background-color: #757575;
$tooltip-padding: 10px;
$tooltip-min-width: 150px;
$tooltip-triangle-base: 10px;


.info-icon {

  i {
    cursor: help;
    color: $info-icon-color;

    .tooltip {
      background: $tooltip-background-color;
      color: $tooltip-text-color;
      bottom: 100%;
      margin-bottom: 20px;
      opacity: 0;
      padding: $tooltip-padding;
      position: absolute;
      left: (-$tooltip-min-width / 2) + $tooltip-padding;
      min-width: $tooltip-min-width;
      font-size: 0.5em;
      transform: translateY(10px);
      border-radius: 2px;
      transition: all .25s ease-out;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);

      &:before {
        bottom: -20px;
        content: " ";
        display: block;
        height: 20px;
        left: 10px;
        position: absolute;
        width: 100%;
      }
      // Triangle
      &:after {
        border-left: solid transparent $tooltip-triangle-base;
        border-right: solid transparent $tooltip-triangle-base;
        border-top: solid $tooltip-background-color $tooltip-triangle-base;
        bottom: -$tooltip-triangle-base;
        content: " ";
        left: ($tooltip-min-width / 2) - $tooltip-triangle-base;
        position: absolute;
      }
    }
    &:hover {
      .tooltip {
        opacity: 1;
        pointer-events: auto;
        -webkit-transform: translateY(0px);
          -moz-transform: translateY(0px);
          -ms-transform: translateY(0px);
           -o-transform: translateY(0px);
            transform: translateY(0px);
      }
    }
  }
}
