/* ============================================
  Paper Button
============================================ */

/**
 * Calculate the font size given button size
 * @param  {int} $size Size of the button's radius, given in any units
 * @return {int}       Size in the same units as size input
 */
@function calculate-font-size($size) {
  @return (32 / 60) * $size;
}

@mixin paper-button($size, $color) {
  display: inline-block;
  position: relative;
  outline: none;
  user-select: none;
  cursor: pointer;
  width: $size;
  height: $size;
  line-height: $size;
  text-align: center;
  font-size: calculate-font-size($size);
  z-index: 999;
  border-radius: 50%;
  box-shadow: 0 3px 10px rgba(0,0,0,0.23),0 3px 10px rgba(0,0,0,0.16);

  &:after {
    display: block;
    position: absolute;
    top: 0;
    content: "";
    border-radius: 50%;
    width: $size;
    height: $size;
    background: $color;
    z-index: -2;
  }
}
