<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>

    <section class="container">

      <header class="cbz-header">
        <div class="cbz-header-text">
          <span>Craft By Zen</span>
        </div>
      </header>

      <div class="page-content">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>

      <footer class="cbz-footer">
        <div class="cbz-footer-container">
          <span>Originally published on my Craft By Zen blog.</span>
        </div>
        <div class="cbz-footer-nav">
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/blog">Blog</a>
            </li>
          </ul>
        </div>
      </footer>
    </section>


  </body>

</html>
