<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>

    <section class="container">

      <header class="header">
        <div class="header-title">
          <span>
            <a class="site-title" href="{{ site.baseurl }}/">Jeremy Wong</a>
          </span>
        </div>

        <nav class="landing-nav">
          <ul>
            <li>
              <a href="/letters">Letter Archive</a>
            </li>
            <li>
              <a href="/blog">Blog</a>
            </li>
            <li>
              <a href="/resume">Resume</a>
            </li>
          </ul>
        </nav>
      </header>

      <div class="landing-content">
        {{ content }}
      </div>

      {% include footer.html %}

    </section>



  </body>

</html>
