<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>

    <section class="container">

      <header class="letter-header">
        <div class="letter-header-text">
          <span>The Jear-Bear Letters</span>
        </div>
      </header>

      <!-- <header>
        <h1>The Jear-Bear Letters</h1>
      </header> -->

      <div class="page-content">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>

      {% include footer.html %}

    </section>



  </body>

</html>
