<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <section class="landing-top">
      <div class="landing-top-bar"></div>
    </section>

    <div class="landing-container">
      <section class="landing-left">
        <div class="landing-left-top">
          <a href='/'>
            <img class="avatar" src="/assets/profile-pic.jpg" width="150" height="150" alt="avatar" />
          </a>
        </div>

        <div class="landing-left-bottom">
          <ul class="landing-nav-list">
            {% for link in site.navigation %}
              <li class="landing-nav-list-item">
                {% if link.text == "Writing" %}
                  <strong>
                    <a class="landing-nav-list-link" href="/writing">{{ link.text }}</a>
                  </strong>
                {% else %}
                  <a class="landing-nav-list-link" href="{{ link.url }}">{{ link.text }}</a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </section>

      <section class="landing-right">
        {{ content }}
      </section>
    </div>

    <div class="footer-container">
      {% include footer.html %}
    </div>

  </body>

</html>
