<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>

    <section class="container">

      <header class="cbz-header">
        <div class="cbz-header-text">
          <span>Writing</span>
        </div>
      </header>

      <div class="page-content">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>

      <footer class="post-footer wrapper">
        <div class="post-footer-nav">
          <ul class="post-footer-list">
            <li>
              <a href="/">Home</a>
            </li>
          </ul>
        </div>
      </footer>

    </section>



  </body>

</html>
