<!DOCTYPE html>
<html>
  {% include head-shop.html %}

  <body>
    <section class="landing-top">
      <div class="landing-top-bar"></div>
    </section>

    <div class="landing-container">
      {% include left-matter.html pageName="Shop" %}

      <section class="landing-right">
        <div class="products">

          {{ content }}

        </div>
      </section>
    </div>

    <div class="footer-container">
      {% include footer.html %}
    </div>

    {% include snipcart.html %}

  </body>


</html>
