<!DOCTYPE html>
<html>
  {% include head-shop.html %}

  <body>
    <section class="landing-top">
      <div class="landing-top-bar"></div>
    </section>

    <div class="landing-container">
      {% include left-matter.html pageName="Shop" clickable="true" %}

      <section class="landing-right">
        <div class="site-title">
          <a href="/products">
            <span>Store</span>
          </a>
        </div>

        <div class="product">

          <div class="product-details">
            <div class="product-header">
              <div class="product-header-title">
                <span>{{ page.name }}</span>
              </div>
              <div class="product-header-price">
                <span>${{ page.price }}</span>
              </div>
            </div>
            <div class="product-image">
              <img src="{{ page.image }}" alt="{{ page.name }}" class="thumbnail"/>
            </div>
          </div>

          <div class="product-description">
            <div class="product-content">
              {{ page.content }}
            </div>

            <div class="site-custom-button">
              <button
                class="snipcart-add-item"
                data-item-name="{{ page.name }}"
                data-item-id="{{ page.sku }}"
                data-item-image="{{ page.image }}"
                data-item-url="{{ site.baseurl }}"
                data-item-price="{{ page.price }}">
                Buy It
              </button>
            </div>

          </div>

        </div>
      </section>
    </div>

    <div class="footer-container">
      {% include footer.html %}
    </div>

    {% include snipcart.html %}

  </body>

</html>
