---
import BaseBody from "../components/BaseBody.astro";
import BaseHead from "../components/BaseHead.astro";
import curationImage from "../images/curation.png";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import TitleHeading from "../components/TitleHeading.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      description="This is the curated collection of eclectic items. I love collecting different kinds of mediums and media. The things that have resonated I'll shelve in my library."
      imageAlt="Curation cover"
      srcImage={curationImage?.src}
      title="Curations"
    />
  </head>
  <BaseBody>
    <Header />
    <main class="max-w-[120ch] mx-auto">
      <TitleHeading>
        <a href="/curation">Curation</a>
      </TitleHeading>
      <slot />
    </main>
    <Footer />
  </BaseBody>
</html>
