---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseBody from "../components/BaseBody.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import TitleHeading from "../components/TitleHeading.astro";

type Props = {
  title: string;
  description?: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title || SITE_TITLE} description={description || SITE_DESCRIPTION} />
  </head>
  <BaseBody>
    <Header />
    <main class="max-w-[120ch] mx-auto">
      <TitleHeading>
        <span
          class="text-slate-700 hover:underline hover:text-purple-500 dark:text-slate-300 dark:hover:text-slate-500"
        >
          <a href="/curation">Curation</a>
        </span>
        <span class="text-slate-800 dark:text-slate-300">&nbsp;/&nbsp;</span>
        <span>{title}</span>
      </TitleHeading>
      <slot />
      <Footer />
    </main>
  </BaseBody>
</html>
