---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseBody from "../components/BaseBody.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import libraryLinks from "../utils/libraryLinks";
import NavigationLinks from "../components/NavigationLinks.astro";
import TitleHeading from "../components/TitleHeading.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <BaseBody>
    <Header />
    <main>
      <TitleHeading>
        <a href="/library">Library</a>
      </TitleHeading>
      <NavigationLinks items={libraryLinks} />
      <slot />
    </main>
    <Footer />
  </BaseBody>
</html>
