---
import FormattedDate from "../components/FormattedDate.astro";
import ProseArticle from "../components/ProseArticle.astro";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"log">["data"];

const { updatedDate, heroImage } = Astro.props;
---

<ProseArticle>
  {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
  {
    updatedDate && (
      <div class="italic dark:text-slate-300">
        Last updated on <FormattedDate date={updatedDate} />
      </div>
    )
  }
  <slot />
</ProseArticle>
