---
import { CollectionEntry, getCollection } from 'astro:content';
import LibraryPost from '../../../layouts/LibraryPost.astro';

export async function getStaticPaths() {
	const posts = await getCollection('book');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'book'>;

const post = Astro.props;
const { Content } = await post.render();
---

<LibraryPost {...post.data}>
	<h1>{post.data.title}</h1>
	<Content />
</LibraryPost>
